@media only screen and (min-width: 0px) and (max-width: 767px) and (orientation: portrait) {
  @font-face {
    font-family: "akkuratRegular";
    src: url('../fonts/AkkuratRegular.otf') format('opentype');
  }
  @font-face {
    font-family: "akkuratLight";
    src: url('../fonts/AkkuratLight.otf') format('opentype');
  }
  .nav-top {
    font-family: 'akkuratRegular', arial, sans-serif;
    width: 100vw;
    height: 20vh;
    display: block;
    position: absolute;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.9vw;
  }
  .nav-top .logo-wrap {
    width: 50vw;
    display: inline-block;
    height: 20vh;
    margin: 0;
    float: left;
    background-image: none;
  }
  .nav-top .logo-wrap .logo {
    margin: 6vw 0px 0px 4vw;
    width: 30vw;
  }
  .nav-top .menu-wrap {
    display: none;
  }
  .nav-top .soc-wrap {
    width: 50vw;
    display: inline-block;
    height: 20vh;
    margin: 0;
    float: left;
  }
  .nav-top .soc-wrap .soc-menu {
    margin-left: 8vw;
    margin-top: 4vw;
    width: 35vw;
  }
  .nav-top .soc-wrap .soc-menu .soc-icons {
    width: 40vw;
    margin-left: 0;
  }
  .nav-top .soc-wrap .soc-menu .soc-icons img {
    margin-right: 6vw;
    display: inline-block;
  }
  .nav-top .soc-wrap .soc-menu .stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
  }
  .nav-top .soc-wrap .soc-phone {
    margin-left: 6vw;
    margin-top: -3.8vw;
    font-size: 4.2vw;
  }
  .blue-gradient {
    background-image: linear-gradient(#00bcdd 60%, rgba(0, 188, 221, 0));
  }
  .blue-gradient-dark {
    background-image: linear-gradient(#00afd4 60%, rgba(0, 175, 212, 0));
  }
  .blue {
    background: #00bcdd;
  }
  .blue-dark {
    background: #00afd4;
  }
  .underline {
    text-decoration: underline;
  }
  .white {
    background: #ffffff;
  }
  .white-dark {
    background: #f2f2f3;
  }
  .grey {
    background: #f2f2f3;
  }
  .grey-dark {
    background: #e2e3e4;
  }
  .black {
    background: #333333;
  }
  .black-dark {
    background: #262626;
  }
  .green-gradient {
    background: linear-gradient(#60c5ba 60%, rgba(96, 197, 186, 0));
  }
  .green-gradient-dark {
    background: linear-gradient(#26b8b0 60%, rgba(38, 184, 176, 0));
  }
  .green {
    background: #60c5ba;
  }
  .green-dark {
    background: #26b8b0;
  }
  .br-m {
    display: block;
  }
  #dNewsletter {
    color: #fff;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    float: left;
    z-index: 100000;
    position: fixed;
  }
  #dNewsletter .closeWrap {
    width: 100vw;
    height: 3vh;
    padding-top: 17vh;
  }
  #dNewsletter .closeWrap .closeButton {
    margin-left: 77.5vw;
    text-transform: uppercase;
    font-family: 'akkuratRegular', arial, sans-serif;
    font-size: 1vw;
    color: #fff;
    text-decoration: none;
  }
  #dNewsletter .newsletterLogo {
    width: 6vw;
    height: 6vw;
    display: block;
    text-align: justify;
    margin-left: 45vw;
  }
  #dNewsletter .newsletterContent .newsletterTitle {
    margin-left: 38vw;
    text-transform: uppercase;
    font-family: 'akkuratRegular', arial, sans-serif;
    font-size: 2.5vw;
    margin-top: 3vh;
    position: absolute;
  }
  #dNewsletter .newsletterContent .newsletterText {
    position: absolute;
    width: 30vw;
    font-family: 'akkuratRegular', arial, sans-serif;
    font-size: 1vw;
    line-height: 3vh;
    margin-left: 15vw;
    margin-top: 15vh;
  }
  #dNewsletter .newsletterContent .signupForm {
    width: 35vw;
    position: absolute;
    float: left;
    margin-top: 15vh;
    margin-left: 50vw;
  }
  #dNewsletter .newsletterContent .signupForm label {
    display: block;
    font-family: 'akkuratRegular', arial, sans-serif;
    font-size: 1.2vw;
    margin-bottom: 1vh;
  }
  #dNewsletter .newsletterContent .signupForm input {
    display: block;
    width: 30vw;
    margin-bottom: 3vh;
    height: 35px;
  }
  #dNewsletter .newsletterContent .signupForm .nsButton {
    display: block;
    position: absolute;
    margin-top: 27vh;
    margin-left: 22.5vw;
  }
  #dNewsletter .newsletterContent .signupForm .nsButton button {
    width: 8vw;
    font-family: 'akkuratRegular', arial, sans-serif;
    font-size: 1.2vw;
    color: #fff;
    background: #00BCDD;
    border: 0;
    border-radius: 3px;
    height: 5vh;
  }
  .sec-1 {
    height: 100vh;
    width: 100vw;
    display: block;
  }
  .sec-1 .sec-1-sidebar {
    height: 100vh;
    width: 16vw;
    display: none;
  }
  .sec-1 .sec-1-bg {
    margin-top: 0;
    width: 100vw;
    height: 100vh;
    display: inline-block;
    float: right;
    color: #fff;
    font-family: 'akkuratRegular', arial, sans-serif;
  }
  .sec-1 .sec-1-bg .sec-1-content {
    margin: 20vh 0 0 4vw;
  }
  .sec-1 .sec-1-bg .sec-1-content h1 {
    font-size: 11vw;
    margin-bottom: 6vh;
    width: 90vw;
  }
  .sec-1 .sec-1-bg .sec-1-content .p1 {
    font-size: 4.2vw;
    margin-bottom: 3vh;
    width: 85vw;
    line-height: 3.5vh;
  }
  .sec-2 {
    height: 160vh;
    width: 100vw;
    display: block;
  }
  .sec-2 .sec-2-sidebar {
    height: 140vh;
    width: 16vw;
    display: none;
  }
  .sec-2 .sec-2-bg {
    width: 100vw;
    height: 160vh;
    display: inline-block;
    float: right;
    font: 'akkuratRegular', arial, sans-serif;
  }
  .sec-2 .sec-2-bg .sec-2-content {
    margin-left: 4vw;
    margin-top: 5vh;
  }
  .sec-2 .sec-2-bg .sec-2-content .sec-2-col-a {
    vertical-align: top;
    width: 80vw;
    display: block;
    font-family: 'akkuratRegular', arial, sans-serif;
  }
  .sec-2 .sec-2-bg .sec-2-content .sec-2-col-a h2 {
    font-size: 10vw;
    margin-bottom: 4vh;
    color: #60c5ba;
  }
  .sec-2 .sec-2-bg .sec-2-content .sec-2-col-a .p1 {
    font-size: 4.2vw;
    line-height: 3.5vh;
    margin-bottom: 2vh;
    color: #5C6F86;
  }
  .sec-2 .sec-2-bg .sec-2-content .sec-2-col-b {
    vertical-align: top;
    width: 85vw;
    display: block;
    font-family: 'akkuratRegular', arial, sans-serif;
    margin-left: 0;
  }
  .sec-2 .sec-2-bg .sec-2-content .sec-2-col-b h2 {
    font-size: 10vw;
    margin-bottom: 4vh;
    margin-top: 4vh;
    color: #60c5ba;
  }
  .sec-2 .sec-2-bg .sec-2-content .sec-2-col-b .p1 {
    font-size: 4.2vw;
    line-height: 3.5vh;
    margin-bottom: 3vh;
    color: #5C6F86;
  }
  .sec-2 .sec-2-bg .sec-2-content .sec-2-col-b .values .p2 {
    font-size: 4.2vw;
    color: #5C6F86;
    margin-bottom: 0;
  }
  .sec-2 .sec-2-bg .sec-2-content .sec-2-col-b .values .p1 {
    font-size: 4.2vw;
  }
  .sec-2b {
    height: 40vh;
    width: 100vw;
    display: block;
  }
  .sec-2b .sec-2b-sidebar {
    height: 40vh;
    width: 16vw;
    display: none;
  }
  .sec-2b .sec-2b-bg {
    width: 100vw;
    height: 40vh;
    display: inline-block;
    float: right;
    font-family: 'akkuratRegular', arial, sans-serif;
  }
  .sec-2b .sec-2b-bg .sec-2b-content {
    margin-left: 4vw;
    margin-top: 5vh;
    width: 90vw;
  }
  .sec-2b .sec-2b-bg .sec-2b-content h2 {
    font-size: 10vw;
    margin-bottom: 4vh;
    width: 70vw;
    color: #60c5ba;
  }
  .sec-2b .sec-2b-bg .sec-2b-content .p1 {
    font-size: 4.2vw;
    margin-bottom: 3vh;
    width: 85vw;
    line-height: 3.5vh;
    color: #5C6F86;
  }
  .sec-3,
  .sec-4 {
    height: 185vh;
    width: 100vw;
    display: block;
  }
  .sec-3 .sec-3-sidebar,
  .sec-4 .sec-3-sidebar,
  .sec-3 .sec-4-sidebar,
  .sec-4 .sec-4-sidebar {
    height: 150vh;
    width: 16vw;
    display: none;
  }
  .sec-3 .sec-3-bg,
  .sec-4 .sec-3-bg,
  .sec-3 .sec-4-bg,
  .sec-4 .sec-4-bg {
    width: 100vw;
    height: 185vh;
    display: inline-block;
    float: right;
    font-family: 'akkuratRegular', arial, sans-serif;
  }
  .sec-3 .sec-3-bg .sec-3-content,
  .sec-4 .sec-3-bg .sec-3-content,
  .sec-3 .sec-4-bg .sec-3-content,
  .sec-4 .sec-4-bg .sec-3-content,
  .sec-3 .sec-3-bg .sec-4-content,
  .sec-4 .sec-3-bg .sec-4-content,
  .sec-3 .sec-4-bg .sec-4-content,
  .sec-4 .sec-4-bg .sec-4-content {
    margin-left: 4vw;
    margin-top: 10vh;
    width: 90vw;
  }
  .sec-3 .sec-3-bg .sec-3-content h2,
  .sec-4 .sec-3-bg .sec-3-content h2,
  .sec-3 .sec-4-bg .sec-3-content h2,
  .sec-4 .sec-4-bg .sec-3-content h2,
  .sec-3 .sec-3-bg .sec-4-content h2,
  .sec-4 .sec-3-bg .sec-4-content h2,
  .sec-3 .sec-4-bg .sec-4-content h2,
  .sec-4 .sec-4-bg .sec-4-content h2 {
    font-size: 10vw;
    margin-bottom: 6vh;
    width: 70vw;
    color: #60c5ba;
    line-height: 7vh;
  }
  .sec-3 .sec-3-bg .sec-3-content .p1,
  .sec-4 .sec-3-bg .sec-3-content .p1,
  .sec-3 .sec-4-bg .sec-3-content .p1,
  .sec-4 .sec-4-bg .sec-3-content .p1,
  .sec-3 .sec-3-bg .sec-4-content .p1,
  .sec-4 .sec-3-bg .sec-4-content .p1,
  .sec-3 .sec-4-bg .sec-4-content .p1,
  .sec-4 .sec-4-bg .sec-4-content .p1 {
    font-size: 4.2vw;
    margin-bottom: 5vh;
    width: 85vw;
    line-height: 3vh;
    color: #5C6F86;
  }
  .sec-3 .sec-3-bg .sec-3-content .p2,
  .sec-4 .sec-3-bg .sec-3-content .p2,
  .sec-3 .sec-4-bg .sec-3-content .p2,
  .sec-4 .sec-4-bg .sec-3-content .p2,
  .sec-3 .sec-3-bg .sec-4-content .p2,
  .sec-4 .sec-3-bg .sec-4-content .p2,
  .sec-3 .sec-4-bg .sec-4-content .p2,
  .sec-4 .sec-4-bg .sec-4-content .p2 {
    font-size: 5.5vw;
    margin-bottom: 3vh;
    color: #60c5ba;
  }
  .sec-3 .sec-3-bg .sec-3-content .sec-3-member,
  .sec-4 .sec-3-bg .sec-3-content .sec-3-member,
  .sec-3 .sec-4-bg .sec-3-content .sec-3-member,
  .sec-4 .sec-4-bg .sec-3-content .sec-3-member,
  .sec-3 .sec-3-bg .sec-4-content .sec-3-member,
  .sec-4 .sec-3-bg .sec-4-content .sec-3-member,
  .sec-3 .sec-4-bg .sec-4-content .sec-3-member,
  .sec-4 .sec-4-bg .sec-4-content .sec-3-member,
  .sec-3 .sec-3-bg .sec-3-content .sec-4-member,
  .sec-4 .sec-3-bg .sec-3-content .sec-4-member,
  .sec-3 .sec-4-bg .sec-3-content .sec-4-member,
  .sec-4 .sec-4-bg .sec-3-content .sec-4-member,
  .sec-3 .sec-3-bg .sec-4-content .sec-4-member,
  .sec-4 .sec-3-bg .sec-4-content .sec-4-member,
  .sec-3 .sec-4-bg .sec-4-content .sec-4-member,
  .sec-4 .sec-4-bg .sec-4-content .sec-4-member {
    margin-top: 3vh;
    margin-right: 3vw;
    width: 40vw;
    display: inline-block;
  }
  .sec-3 .sec-3-bg .sec-3-content .sec-3-member img,
  .sec-4 .sec-3-bg .sec-3-content .sec-3-member img,
  .sec-3 .sec-4-bg .sec-3-content .sec-3-member img,
  .sec-4 .sec-4-bg .sec-3-content .sec-3-member img,
  .sec-3 .sec-3-bg .sec-4-content .sec-3-member img,
  .sec-4 .sec-3-bg .sec-4-content .sec-3-member img,
  .sec-3 .sec-4-bg .sec-4-content .sec-3-member img,
  .sec-4 .sec-4-bg .sec-4-content .sec-3-member img,
  .sec-3 .sec-3-bg .sec-3-content .sec-4-member img,
  .sec-4 .sec-3-bg .sec-3-content .sec-4-member img,
  .sec-3 .sec-4-bg .sec-3-content .sec-4-member img,
  .sec-4 .sec-4-bg .sec-3-content .sec-4-member img,
  .sec-3 .sec-3-bg .sec-4-content .sec-4-member img,
  .sec-4 .sec-3-bg .sec-4-content .sec-4-member img,
  .sec-3 .sec-4-bg .sec-4-content .sec-4-member img,
  .sec-4 .sec-4-bg .sec-4-content .sec-4-member img {
    width: 22vw;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
  }
  .sec-3 .sec-3-bg .sec-3-content .sec-3-member .p2,
  .sec-4 .sec-3-bg .sec-3-content .sec-3-member .p2,
  .sec-3 .sec-4-bg .sec-3-content .sec-3-member .p2,
  .sec-4 .sec-4-bg .sec-3-content .sec-3-member .p2,
  .sec-3 .sec-3-bg .sec-4-content .sec-3-member .p2,
  .sec-4 .sec-3-bg .sec-4-content .sec-3-member .p2,
  .sec-3 .sec-4-bg .sec-4-content .sec-3-member .p2,
  .sec-4 .sec-4-bg .sec-4-content .sec-3-member .p2,
  .sec-3 .sec-3-bg .sec-3-content .sec-4-member .p2,
  .sec-4 .sec-3-bg .sec-3-content .sec-4-member .p2,
  .sec-3 .sec-4-bg .sec-3-content .sec-4-member .p2,
  .sec-4 .sec-4-bg .sec-3-content .sec-4-member .p2,
  .sec-3 .sec-3-bg .sec-4-content .sec-4-member .p2,
  .sec-4 .sec-3-bg .sec-4-content .sec-4-member .p2,
  .sec-3 .sec-4-bg .sec-4-content .sec-4-member .p2,
  .sec-4 .sec-4-bg .sec-4-content .sec-4-member .p2 {
    font-size: 4vw;
    text-transform: uppercase;
    margin-top: 3.5vh;
    text-align: center;
    width: 40vw;
    color: #5C6F86;
    margin-bottom: 0;
  }
  .sec-3 .sec-3-bg .sec-3-content .sec-3-member .p1,
  .sec-4 .sec-3-bg .sec-3-content .sec-3-member .p1,
  .sec-3 .sec-4-bg .sec-3-content .sec-3-member .p1,
  .sec-4 .sec-4-bg .sec-3-content .sec-3-member .p1,
  .sec-3 .sec-3-bg .sec-4-content .sec-3-member .p1,
  .sec-4 .sec-3-bg .sec-4-content .sec-3-member .p1,
  .sec-3 .sec-4-bg .sec-4-content .sec-3-member .p1,
  .sec-4 .sec-4-bg .sec-4-content .sec-3-member .p1,
  .sec-3 .sec-3-bg .sec-3-content .sec-4-member .p1,
  .sec-4 .sec-3-bg .sec-3-content .sec-4-member .p1,
  .sec-3 .sec-4-bg .sec-3-content .sec-4-member .p1,
  .sec-4 .sec-4-bg .sec-3-content .sec-4-member .p1,
  .sec-3 .sec-3-bg .sec-4-content .sec-4-member .p1,
  .sec-4 .sec-3-bg .sec-4-content .sec-4-member .p1,
  .sec-3 .sec-4-bg .sec-4-content .sec-4-member .p1,
  .sec-4 .sec-4-bg .sec-4-content .sec-4-member .p1 {
    text-align: center;
    width: 40vw;
    font-size: 3.2vw;
  }
  .sec-4 {
    height: 120vh;
  }
  .sec-4 .sec-3-sidebar,
  .sec-4 .sec-4-sidebar {
    height: 120vh;
  }
  .sec-4 .nav-side-tablet {
    height: 120vh;
  }
  .sec-4 .sec-4-bg {
    height: 120vh;
  }
  .nav-side-green {
    color: #60c5ba;
  }
  .nav-side-white {
    color: #ffffff;
  }
  .sec-contact {
    height: 25vh;
    width: 100vw;
    display: block;
  }
  .sec-contact .sec-contact-sidebar {
    height: 14vh;
    width: 16vw;
    display: none;
  }
  .sec-contact .sec-contact-bg {
    height: 25vh;
    width: 100vw;
    display: inline-block;
    float: right;
  }
  .sec-contact .sec-contact-bg .sec-contact-content {
    display: block;
    float: left;
    width: 96vw;
  }
  .sec-contact .sec-contact-bg .sec-contact-content .sec-contact-text {
    width: 85vw;
    color: #fff;
    font-family: 'akkuratRegular', arial, sans-serif;
    font-size: 4.5vw;
    margin-left: 4vw;
    margin-top: 2.5vh;
    line-height: 3.5vh;
  }
  .sec-contact .sec-contact-bg .sec-contact-content .button {
    vertical-align: top;
    display: block;
    float: left;
    background: #60c5ba;
    padding: 4vw;
    margin-top: 3vh;
    margin-left: 4vw;
    text-decoration: none;
  }
  .sec-contact .sec-contact-bg .sec-contact-content .button img {
    background: transparent;
  }
  .nav-side {
    display: inline-block;
    font-family: 'akkuratRegular', arial, sans-serif;
    font-size: 1vw;
    width: 16vw;
    height: 100vh;
  }
  .nav-side a {
    color: inherit;
    text-decoration: none;
  }
  .nav-side ul {
    margin-top: 45vh;
    margin-left: 2vw;
  }
  .nav-side li {
    margin-bottom: 2vh;
  }
  .nav-side .hoverable {
    cursor: default;
    text-decoration: none;
  }
  .nav-side .hoverable .hover {
    display: none;
  }
  .nav-side .hoverable:hover .normal {
    display: none;
  }
  .nav-side .hoverable:hover .hover {
    display: inline;
  }
  footer {
    height: 40vh;
    width: 100vw;
    display: block;
  }
  footer .footer-sidebar {
    display: none;
  }
  footer .footer-bg {
    width: 100vw;
    height: 40vh;
    display: inline-block;
    float: right;
    color: #000;
    font-family: 'akkuratRegular', arial, sans-serif;
    font-size: 4vw;
    line-height: 4vh;
  }
  footer .footer-bg .footer-content {
    width: 100vw;
    margin-left: 6vw;
    margin-top: 3.5vw;
  }
  footer .footer-bg .footer-content p {
    display: inline;
  }
  footer .footer-bg .footer-content p:nth-child(2) {
    float: left;
    margin-top: 3vh;
  }
  .br-t {
    display: block;
  }
  .button {
    font-family: 'akkuratRegular', arial, sans-serif;
    font-size: 5vw;
    text-transform: uppercase;
    background: #1B3F45;
    text-align: center;
    border-radius: 2px;
    height: 2.5vh;
    border: none;
    color: #fff;
    padding: 0 4vw;
  }
  .button img {
    width: 4.7vw;
    background: #1B3F45;
  }
  .anchor {
    display: block;
    position: relative;
    top: 2vh;
    visibility: hidden;
  }
  .nav-bot {
    display: block;
    width: 100vw;
    height: 14vh;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #fff;
    z-index: 1;
  }
  .nav-bot .nav-bot-wrap {
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    width: 92vw;
    padding: 0 4vw;
  }
  .nav-bot .nav-bot-wrap .tablet {
    display: none;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link {
    display: inline-block;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link a img {
    width: 10vw;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link p {
    text-align: center;
    text-transform: uppercase;
    font-family: 'akkuratRegular', arial, sans-serif;
    font-size: 3.5vw;
    margin-top: 1vh;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link p a {
    color: inherit;
    text-decoration: none;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link:nth-child(1) img {
    margin-bottom: 0;
    margin-left: 3vw;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link:nth-child(2) img {
    margin-bottom: 0;
    margin-left: 0.8vw;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link:nth-child(3) {
    display: none;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link:nth-child(3) img {
    margin-bottom: 0;
    margin-left: 3vw;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link:nth-child(4) {
    display: none;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link:nth-child(4) img {
    margin-bottom: 0;
    margin-left: 1.2vw;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link:nth-child(5) img {
    margin-bottom: 0;
    margin-left: 2.7vw;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link:nth-child(6) img {
    margin-bottom: 0.6vh;
    margin-left: 0.7vw;
  }
}
