/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#mobile,
#tablet {
  display: none;
}
@font-face {
  font-family: "akkuratRegular";
  src: url('../fonts/AkkuratRegular.otf') format('opentype');
}
@font-face {
  font-family: "akkuratLight";
  src: url('../fonts/AkkuratLight.otf') format('opentype');
}
.bottomNav {
  display: none;
}
#dNewsletter {
  color: #fff;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  float: left;
  z-index: 100000;
  position: fixed;
}
#dNewsletter .closeWrap {
  width: 100vw;
  height: 3vh;
  padding-top: 17vh;
}
#dNewsletter .closeWrap .closeButton {
  margin-left: 77.5vw;
  text-transform: uppercase;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1vw;
  color: #fff;
  text-decoration: none;
}
#dNewsletter .newsletterLogo {
  width: 6vw;
  height: 6vw;
  display: block;
  text-align: justify;
  margin-left: 45vw;
}
#dNewsletter .newsletterContent .newsletterTitle {
  margin-left: 38vw;
  text-transform: uppercase;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 2.5vw;
  margin-top: 3vh;
  position: absolute;
}
#dNewsletter .newsletterContent .newsletterText {
  position: absolute;
  width: 30vw;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1vw;
  line-height: 3vh;
  margin-left: 15vw;
  margin-top: 15vh;
}
#dNewsletter .newsletterContent .signupForm {
  width: 35vw;
  position: absolute;
  float: left;
  margin-top: 15vh;
  margin-left: 50vw;
}
#dNewsletter .newsletterContent .signupForm label {
  display: block;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.2vw;
  margin-bottom: 1vh;
}
#dNewsletter .newsletterContent .signupForm input {
  display: block;
  width: 30vw;
  margin-bottom: 3vh;
  height: 35px;
}
#dNewsletter .newsletterContent .signupForm .nsButton {
  display: block;
  position: absolute;
  margin-top: 27vh;
  margin-left: 22.5vw;
}
#dNewsletter .newsletterContent .signupForm .nsButton button {
  width: 8vw;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.2vw;
  color: #fff;
  background: #00BCDD;
  border: 0;
  border-radius: 3px;
  height: 5vh;
}
.tSpace,
.mSpace,
.footerT {
  display: none;
}
html,
body {
  margin: 0;
  height: 100vh;
}
.logoWrapper,
.navWrapper,
.socialWrapper {
  display: inline-block;
  float: left;
  height: 20vh;
}
.nav-top {
  position: absolute;
  width: 100vw;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 0.9vw;
  color: #fff;
}
.nav-top .logoWrapper {
  background-image: linear-gradient(#ffc425 60%, rgba(255, 196, 37, 0));
  width: 16vw;
}
.nav-top .logoWrapper img {
  margin: 6.5vh 0 0 2vw;
  width: 9vw;
}
.nav-top .navWrapper {
  background-image: linear-gradient(#ffd24f 60%, rgba(255, 210, 79, 0));
  width: 60vw;
  text-transform: uppercase;
}
.nav-top .navWrapper p {
  margin-left: 12vw;
  margin-top: 4vh;
}
.nav-top .navWrapper p a {
  color: inherit;
  text-decoration: none;
}
.nav-top .navWrapper p a img {
  height: 1.2vh;
}
.nav-top .navWrapper ul {
  margin-left: 12vw;
  margin-top: 6vh;
}
.nav-top .navWrapper ul li {
  display: inline;
  margin-right: 3vw;
}
.nav-top .navWrapper ul a {
  color: inherit;
  text-decoration: none;
}
.nav-top .socialWrapper {
  background-image: linear-gradient(#ffd24f 60%, rgba(255, 210, 79, 0));
  width: 24vw;
}
.nav-top .socialWrapper p {
  margin-left: 3vw;
}
.nav-top .socialWrapper ul {
  margin: 3vh 0 5vh 3vw;
}
.nav-top .socialWrapper ul li {
  display: inline;
  margin-right: 1.9vw;
}
.section1 {
  color: #fff;
  width: 100vw;
}
.section1 .sideBar {
  width: 16vw;
  height: 80vh;
  float: left;
  display: inline-block;
  background: #ffc425;
}
.section1 .s1Content {
  width: 84vw;
  height: 80vh;
  display: inline-block;
  float: right;
  background: #ffd24f;
}
.section1 .s1Content .s1Title {
  margin-top: 25vh;
  margin-left: 12vw;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 4.4vw;
  width: 45vw;
  line-height: 10vh;
}
.section1 .s1Content .s1Title span {
  text-decoration: underline;
}
.section1 .s1Content .s1Text {
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.15vw;
  line-height: 4vh;
  margin-top: 6vh;
  margin-left: 12vw;
  width: 45vw;
}
.section1 .s1Content .s1Text p {
  margin-bottom: 2.5vh;
}
.button {
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.2vw;
  text-transform: uppercase;
  background: #1B3F45;
  text-align: center;
  border-radius: 2px;
  border: none;
  color: #fff;
  padding: 0 1vw;
}
.button a {
  color: inherit;
  text-decoration: none;
}
.button a img {
  width: 1.2vw;
  background: #1B3F45;
}
.section2 {
  font-family: 'akkuratRegular', arial, sans-serif;
  height: auto;
  display: flex;
  float: left;
  width: 100%;
}
.section2 .sideBar {
  width: 16vw;
  height: auto;
  float: left;
  display: flex;
  background: #F2F2F2;
}
.section2 .s2content {
  display: flex;
  float: left;
}
.section2 .wrapper {
  float: left;
  margin-left: 0;
  margin-top: 0;
  width: 80vw;
}
.section2 .wrapper .title {
  font-size: 4.4vw;
  color: #000;
  position: relative;
  margin-bottom: 3vh;
  z-index: -1;
}
.section2 .wrapper .contentWrapper {
  display: inline-block;
  margin-top: 3vh;
  margin-left: 1.5vw;
}
.section2 .wrapper .contentWrapper .text {
  font-size: 1.8vw;
  color: #5C6E7B;
  width: 47vw;
  margin-bottom: 4vh;
  line-height: 4vh;
}
.section2 .wrapper .contentWrapper .subText {
  font-size: 1.15vw;
  color: #5C6E7B;
  width: 47vw;
  line-height: 3vh;
}
.section2 .wrapper table {
  font-family: 'akkuratRegular', arial, sans-serif;
  width: 70vw;
}
.section2 .wrapper table tr td .blogTitle {
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.6vw;
  line-height: 2.9vh;
  margin-bottom: 2vh;
  width: 17vw;
}
.section2 .wrapper table tr td .blogDate {
  font-size: 0.9vw;
  margin-bottom: 2vh;
  font-family: 'akkuratLight', arial, sans-serif;
}
.section2 .wrapper table tr td .blogDate .blogSection {
  font-family: 'akkuratRegular', arial, sans-serif;
}
.section2 .wrapper table tr td .blogDate .blogSection a {
  color: #60c5ba;
}
.section2 .wrapper table tr td .blogDate .blogSection a :visited {
  color: #9c8dc3;
}
.section2 .wrapper table tr td .blogSnip {
  line-height: 3vh;
  margin-bottom: 2vh;
  width: 17vw;
  color: #808285;
}
.section2 .wrapper table tr td .button {
  vertical-align: top;
  display: inline-block;
  float: right;
  background: #231f20;
  padding: 0.6vw;
  text-decoration: none;
}
.section2 .wrapper table tr td .button img {
  background: transparent;
}
.section2 .wrapper table tr td .button {
  float: left;
  padding: 0.8vw 0.8vw;
  width: 10vw;
}
.section2 .wrapper table tr td .button img {
  width: 1.2vw;
}
.section2 .blog_pagination {
  text-align: center;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.2vw;
  margin: 1vh;
}
.section2 .blog_pagination a {
  color: #42C4DD;
  text-decoration: none;
  margin: 1vh;
  padding: 0.7vh 1vh;
  border-radius: 2px;
  line-height: 1vh;
}
.section2 .blog_pagination a:hover {
  color: #FFF;
  background: #bbbbbb;
}
.sec-2 {
  height: 45vh;
  width: 100vw;
  display: block;
}
.sec-2 .sec-2-sidebar {
  height: 45vh;
  width: 16vw;
  display: inline-block;
}
.sec-2 .sec-2-bg {
  width: 84vw;
  height: 45vh;
  display: inline-block;
  float: right;
  color: #fff;
  font-family: 'akkuratRegular', arial, sans-serif;
}
.sec-2 .sec-2-bg .sec-2-content {
  width: 60vw;
  margin-left: 12vw;
  margin-top: 8vh;
}
.sec-2 .sec-2-bg .sec-2-content .p2 {
  font-size: 1.8vw;
  line-height: 4.5vh;
}
.sec-2 .sec-2-bg .sec-2-content .signup-form {
  margin-top: 10vh;
}
.sec-2 .sec-2-bg .sec-2-content .signup-form .input-name {
  display: inline;
  margin-right: 1vw;
}
.sec-2 .sec-2-bg .sec-2-content .signup-form .input-name input {
  width: 18vw;
  height: 5vh;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  font-family: 'akkuratRegular', arial, sans-serif;
  color: #fff;
  font-size: 1.2vw;
}
.sec-2 .sec-2-bg .sec-2-content .signup-form .input-name input::-webkit-input-placeholder {
  color: #fff;
  font-size: 1.2vw;
}
.sec-2 .sec-2-bg .sec-2-content .signup-form .input-name input::-moz-placeholder {
  color: #fff;
  font-size: 1.2vw;
}
.sec-2 .sec-2-bg .sec-2-content .signup-form .input-name input:-moz-placeholder {
  /* Older versions of Firefox */
  color: #fff;
  font-size: 1.2vw;
}
.sec-2 .sec-2-bg .sec-2-content .signup-form .input-name input:-ms-input-placeholder {
  color: #fff;
  font-size: 1.2vw;
}
.sec-2 .sec-2-bg .sec-2-content .signup-form .input-email {
  display: inline;
  margin-right: 1vw;
}
.sec-2 .sec-2-bg .sec-2-content .signup-form .input-email input {
  width: 18vw;
  height: 5vh;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  font-family: 'akkuratRegular', arial, sans-serif;
  color: #fff;
  font-size: 1.2vw;
}
.sec-2 .sec-2-bg .sec-2-content .signup-form .input-email input::-webkit-input-placeholder {
  color: #fff;
  font-size: 1.2vw;
}
.sec-2 .sec-2-bg .sec-2-content .signup-form .input-email input::-moz-placeholder {
  color: #fff;
  font-size: 1.2vw;
}
.sec-2 .sec-2-bg .sec-2-content .signup-form .input-email input:-moz-placeholder {
  /* Older versions of Firefox */
  color: #fff;
  font-size: 1.2vw;
}
.sec-2 .sec-2-bg .sec-2-content .signup-form .input-email input:-ms-input-placeholder {
  color: #fff;
  font-size: 1.2vw;
}
.sec-2 .sec-2-bg .sec-2-content .signup-form .form-button {
  display: inline;
}
.sec-2 .sec-2-bg .sec-2-content .signup-form .form-button button {
  height: 6vh;
  background: #4a2f24;
}
.purple {
  background: #ffd24f;
}
.purple-dark {
  background: #ffc425;
}
.section3 {
  color: #fff;
  width: 100vw;
  background: #ffd24f;
}
.section3 .sideBar {
  width: 16vw;
  height: 80vh;
  float: left;
  display: inline-block;
  background: #ffc425;
}
.section3 .content {
  height: 80vh;
}
.section3 .content .wrapper {
  margin-left: 28vw;
  padding-top: 12vh;
  width: 48vw;
}
.section3 .content .wrapper .title {
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 4.4vw;
  margin-bottom: 5vh;
}
.section3 .content .wrapper .title span {
  text-decoration: underline;
}
.section3 .content .wrapper .text {
  font-size: 1.15vw;
  font-family: 'akkuratRegular', arial, sans-serif;
  margin-bottom: 3vh;
  line-height: 3vh;
}
.section3 .content .wrapper .subText {
  font-size: 1.8vw;
  font-family: 'akkuratRegular', arial, sans-serif;
}
.section3 .content .wrapper .button {
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.2vw;
  text-transform: uppercase;
  background: #1B3F45;
  text-align: center;
  border-radius: 2px;
  height: 6vh;
  margin-top: 5vh;
  width: 16vw;
}
.section3 .content .wrapper .button a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 1.8vh;
}
.section3 .content .wrapper .button a img {
  width: 1.2vw;
  background: #1B3F45;
}
.hover-info {
  display: none;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1vw;
  background: rgba(0, 0, 0, 0.35);
  color: #FFF;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.hover-info h2 {
  font-size: 6vh;
  margin-top: 8vw;
  margin-bottom: 1vh;
}
.hover-info p {
  margin-bottom: 2vh;
}
.hover-info .button {
  background: none;
  border: 1px solid #FFF;
  border-radius: 2px;
  color: #fff;
  font-family: "akkuratRegular", arial, sans-serif;
  font-size: 1vw;
  padding: 0.4vw 1vw;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.case-study {
  width: 48%;
  float: left;
  margin: 1%;
  position: relative;
}
.case-study img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.case-study:hover .hover-info {
  display: block;
}
.nav-side {
  display: inline-block;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1vw;
  width: 16vw;
  height: 100vh;
}
.nav-side a {
  color: inherit;
  text-decoration: none;
}
.nav-side form {
  margin-top: 30vh;
  margin-left: 2vw;
}
.nav-side form input {
  border: 0 none;
  background: #f2f2f2 url('../img/search-ico.png') no-repeat right center;
  line-height: 2vw;
  font-size: 1vw;
  font-weight: normal;
  color: #999b9d;
  border-bottom: 1px solid #B9BCBE;
}
.nav-side p {
  margin-top: 5vh;
  margin-left: 2vw;
}
.nav-side ul {
  margin-top: 5vh;
  margin-left: 2vw;
}
.nav-side li {
  margin-bottom: 2vh;
}
.nav-side .hoverable {
  cursor: default;
  text-decoration: none;
}
.nav-side .hoverable .hover {
  display: none;
}
.nav-side .hoverable:hover .normal {
  display: none;
}
.nav-side .hoverable:hover .hover {
  display: inline;
}
.contact {
  display: table;
  height: 20vh;
  color: #fff;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.15vw;
}
.contact .contactDark {
  display: table-cell;
  width: 16.3vw;
  background: #262626;
}
.contact .contactContent {
  display: table-cell;
  width: 84vw;
  background: #333333;
}
.contact .contactContent p {
  margin-right: 3vw;
  margin-left: 15vw;
  display: inline-block;
  margin-top: 9vh;
}
.contact .contactContent .contactButton {
  display: inline-block;
  text-transform: uppercase;
  padding: 1.5vh 2.5vh;
  border-radius: 2px;
  background: #ffd24f;
}
.contact .contactContent .contactButton a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}
.contact .contactContent .contactButton a img {
  width: 1.2vw;
}
.nav-side-grey {
  color: #e9eaeb;
}
.nav-side-grey a:hover {
  color: #000000;
}
.nav-side-grey a .active {
  color: #000000;
}
.sec-contact {
  height: 14vh;
  width: 100vw;
  display: block;
}
.sec-contact .sec-contact-sidebar {
  height: 14vh;
  width: 16vw;
  display: inline-block;
}
.sec-contact .sec-contact-bg {
  height: 14vh;
  width: 84vw;
  display: inline-block;
  float: right;
}
.sec-contact .sec-contact-bg .sec-contact-content {
  display: inline-block;
  float: left;
}
.sec-contact .sec-contact-bg .sec-contact-content .sec-contact-text {
  width: 47vw;
  color: #fff;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.1vw;
  margin-left: 12vw;
  margin-top: 6vh;
}
.sec-contact .sec-contact-bg .sec-contact-content .button {
  vertical-align: top;
  display: inline-block;
  float: right;
  background: #ffd24f;
  padding: 0.6vw;
  margin-top: -3.5vh;
  text-decoration: none;
}
.sec-contact .sec-contact-bg .sec-contact-content .button img {
  background: transparent;
}
footer {
  height: 14vh;
  width: 100vw;
  display: block;
}
footer .footer-sidebar {
  height: 14vh;
  width: 16vw;
  display: inline-block;
}
footer .footer-bg {
  width: 84vw;
  height: 14vh;
  display: inline-block;
  float: right;
  color: #000;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 0.9vw;
}
footer .footer-bg .footer-content {
  margin-left: 12vw;
  margin-top: 6vh;
}
footer .footer-bg .footer-content p {
  display: inline;
  margin-right: 9.5vw;
}
.br-t,
.br-m {
  display: none;
}
.scrolled2 .navWrapper,
.scrolled2 .socialWrapper {
  background: #ffd24f;
}
.scrolled2 .logoWrapper {
  background: #ffc425;
}
.black {
  background: #333333;
}
.black-dark {
  background: #262626;
}
