@media only screen and (min-width: 768px) and (max-width: 959px) and (orientation: portrait) {
  @font-face {
    font-family: "akkuratRegular";
    src: url('../fonts/AkkuratRegular.otf') format('opentype');
  }
  @font-face {
    font-family: "akkuratLight";
    src: url('../fonts/AkkuratLight.otf') format('opentype');
  }
  #topNav2 {
    margin-top: 100vh;
    background: #ffd24f;
    width: 100vw;
    z-index: 0;
    height: 18vh;
  }
  #topNav2 .logoWrapper,
  #topNav2 .socialWrapper,
  #topNav2 .navWrapper {
    height: 18vh;
  }
  .nav-top {
    height: 10vh;
    position: absolute;
  }
  .nav-top .logoWrapper {
    width: 33vw;
    background: #ffd24f;
  }
  .nav-top .logoWrapper img {
    width: 17vw;
    margin-top: 6vw;
    margin-left: 6vw;
  }
  .nav-top .navWrapper {
    width: 33vw;
  }
  .nav-top .navWrapper .newsletter {
    margin-left: 5.5vw;
    margin-top: 8.3vh;
  }
  .nav-top .navWrapper .newsletter a {
    font-size: 2vw;
  }
  .nav-top .navWrapper .navMenu {
    display: none;
  }
  .nav-top .socialWrapper {
    width: 33vw;
  }
  .nav-top .socialWrapper ul {
    margin-left: 9vw;
    margin-top: 3vh;
    display: flex;
    width: 16vw;
    justify-content: space-between;
  }
  .nav-top .socialWrapper ul li img {
    height: 1.7vh;
    margin-right: 3.5vw;
  }
  .nav-top .socialWrapper p {
    display: block;
    margin-left: 8vw;
    margin-top: -1.8vh;
    font-family: 'akkuratRegular', arial, sans-serif;
    color: #fff;
    font-size: 2.3vw;
    width: 18vw;
  }
  .bottomNav {
    display: block;
    width: 100vw;
    height: 9vh;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ffc425;
    color: #fff;
    z-index: 1;
  }
  .bottomNav .mNavWrapper {
    margin-top: 1.7vw;
    display: flex;
    justify-content: space-between;
    width: 92vw;
    padding: 0 4vw;
  }
  .bottomNav .mNavWrapper .mNavLink {
    display: inline-block;
  }
  .bottomNav .mNavWrapper .mNavLink a img {
    width: 5vw;
    margin-left: 1.5vw;
  }
  .bottomNav .mNavWrapper .mNavLink p {
    text-align: center;
    text-transform: uppercase;
    font-family: 'akkuratRegular', arial, sans-serif;
    font-size: 1.7vw;
    margin-top: 1vh;
  }
  .bottomNav .mNavWrapper .mNavLink p a {
    color: inherit;
    text-decoration: none;
  }
  .bottomNav .mNavWrapper .mNavLink:nth-child(1) img {
    margin-bottom: 0;
  }
  .bottomNav .mNavWrapper .mNavLink:nth-child(2) img {
    margin-bottom: 0;
    margin-left: 2.2vw;
  }
  .bottomNav .mNavWrapper .mNavLink:nth-child(3) img {
    margin-bottom: 0;
    margin-left: 3vw;
  }
  .bottomNav .mNavWrapper .mNavLink:nth-child(4) img {
    margin-bottom: 0;
    margin-left: 1.2vw;
  }
  .bottomNav .mNavWrapper .mNavLink:nth-child(5) img {
    margin-bottom: 0;
    margin-left: 2.7vw;
  }
  .bottomNav .mNavWrapper .mNavLink:nth-child(6) {
    display: none;
  }
  .bottomNav .mNavWrapper .mNavLink:nth-child(6) img {
    margin-bottom: 0;
    margin-left: 2.7vw;
  }
  .section1 .sideBar {
    display: none;
  }
  .section1 .s1Content {
    width: 100vw;
    height: 55vh;
    margin-top: 0;
  }
  .section1 .s1Content .s1Title {
    margin-top: 20vh;
    font-size: 9vw;
    line-height: 7.5vh;
    width: 73vw;
  }
  .section1 .s1Content .s1Text {
    margin-top: 3vh;
    font-size: 2.3vw;
    width: 65vw;
    line-height: 2.5vh;
  }
  .section1 .s1Content .s1Text P {
    margin-bottom: 1.5vh;
  }
  .section2 {
    height: 90vh;
  }
  .section2 .sideBar {
    display: none;
  }
  .section2 .s2content .wrapper:nth-child(1) {
    margin-top: 1vh;
    margin-left: 0.3vh;
  }
  .section2 .s2content .wrapper {
    width: 100vw;
    margin-top: 8vh;
  }
  .section2 .s2content .wrapper .title {
    font-size: 9vw;
    margin-bottom: 0;
  }
  .section2 .s2content .wrapper img {
    width: 47vw;
  }
  .section2 .s2content .wrapper .contentWrapper {
    font-family: 'akkuratRegular', arial, sans-serif;
    color: #000;
    width: 57vw;
  }
  .section2 .s2content .wrapper .contentWrapper .text {
    font-size: 3vw;
    line-height: 3vh;
    width: 56vw;
    margin-bottom: 3vh;
    color: #000;
  }
  .section2 .s2content .wrapper .contentWrapper .subText {
    width: 56vw;
    font-size: 2.5vw;
    line-height: 2.5vh;
    color: #000;
  }
  .section2 .wrapper .case-study .hover-info {
    display: none;
  }
  .section3 .sideBar {
    display: none;
  }
  .section3 .content {
    width: 100vw;
    height: 100vh;
    margin-top: 0vh;
    border: 1px solid transparent;
  }
  .section3 .content .wrapper {
    margin-top: 20vh;
    margin-left: 14vw;
    width: 72vw;
    padding-top: 0;
  }
  .section3 .content .wrapper .title {
    margin-top: 0;
    font-size: 9vw;
    width: 50vw;
  }
  .section3 .content .wrapper .text {
    font-size: 2.3vw;
    line-height: 2.5vh;
    width: 85%;
    margin-bottom: 2vh;
  }
  .section3 .content .wrapper .subText {
    font-size: 3vw;
  }
  .section3 .content .wrapper .button {
    margin-top: 3vh;
    font-size: 2.3vw;
    width: 30vw;
    height: 5vh;
  }
  .section3 .content .wrapper .button a img {
    width: 2.3vw;
  }
  #dNewsletter {
    color: #fff;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    float: left;
    z-index: 100000;
    position: fixed;
  }
  #dNewsletter .closeWrap {
    width: 100vw;
    height: 3vh;
    padding-top: 4vh;
  }
  #dNewsletter .closeWrap .closeButton {
    margin-left: 85vw;
    text-transform: uppercase;
    font-size: 2vw;
    color: #fff;
    text-decoration: none;
  }
  #dNewsletter .newsletterLogo {
    width: 12vw;
    height: 12vw;
    display: block;
    text-align: justify;
    margin-left: 45vw;
    margin-top: 5vh;
  }
  #dNewsletter .newsletterContent .newsletterTitle {
    margin-left: 31vw;
    text-transform: uppercase;
    font-size: 5vw;
    margin-top: 3vh;
    position: absolute;
  }
  #dNewsletter .newsletterContent .newsletterText {
    position: abslute;
    width: 60vw;
    font-size: 2vw;
    line-height: 2vh;
    margin-left: 21vw;
    margin-top: 12vh;
    margin-bottom: 5vh;
  }
  #dNewsletter .newsletterContent .signupForm {
    width: 35vw;
    position: absolute;
    margin-top: 32vh;
    margin-left: 21vw;
  }
  #dNewsletter .newsletterContent .signupForm label {
    display: block;
    font-size: 2.5vw;
    margin-bottom: 1vh;
  }
  #dNewsletter .newsletterContent .signupForm input {
    display: block;
    width: 60vw;
    margin-bottom: 2vh;
    height: 35px;
  }
  #dNewsletter .newsletterContent .signupForm .nsButton {
    display: block;
    position: absolute;
    margin-top: 18vh;
    margin-left: 45vw;
  }
  #dNewsletter .newsletterContent .signupForm .nsButton button {
    width: 16vw;
    font-size: 2.5vw;
    color: #fff;
    background: #00BCDD;
    border: 0;
    border-radius: 3px;
    height: 3vh;
  }
  .sec-contact {
    height: 10vh;
    width: 100vw;
    display: block;
  }
  .sec-contact .sec-contact-sidebar {
    height: 14vh;
    width: 16vw;
    display: none;
  }
  .sec-contact .sec-contact-bg {
    height: 10vh;
    width: 100vw;
    display: inline-block;
    float: right;
  }
  .sec-contact .sec-contact-bg .sec-contact-content {
    display: inline-block;
    float: left;
    width: 96vw;
  }
  .sec-contact .sec-contact-bg .sec-contact-content .sec-contact-text {
    width: 45vw;
    color: #fff;
    font-family: 'akkuratRegular', arial, sans-serif;
    font-size: 2.5vw;
    margin-left: 4vw;
    margin-top: 2.5vh;
    line-height: 2.5vh;
  }
  .sec-contact .sec-contact-bg .sec-contact-content .button {
    vertical-align: top;
    display: inline-block;
    float: right;
    background: #ffd24f;
    padding: 1.6vw;
    margin-top: -4.5vh;
    text-decoration: none;
    font-size: 2.8vw;
  }
  .sec-contact .sec-contact-bg .sec-contact-content .button img {
    background: transparent;
  }
  footer {
    height: 17vh;
    width: 100vw;
    display: block;
  }
  footer .footer-sidebar {
    height: 30vh;
    width: 16vw;
    display: none;
  }
  footer .footer-bg {
    width: 100vw;
    height: 17vh;
    display: inline-block;
    float: right;
    color: #000;
    font-family: 'akkuratRegular', arial, sans-serif;
    font-size: 2vw;
  }
  footer .footer-bg .footer-content {
    margin-left: 4vw;
    margin-top: 3vh;
  }
  footer .footer-bg .footer-content p {
    display: inline;
    line-height: 2.2vh;
    margin-right: 10.7vw;
  }
  footer .footer-bg .footer-content p:nth-child(2) {
    float: right;
  }
  .br-t {
    display: block;
  }
  .tSpace {
    width: 100vw;
    height: 9vh;
    display: block;
  }
}
