@media only screen and (min-width: 768px) and (max-width: 959px) and (orientation: portrait) {
  /* http://meyerweb.com/eric/tools/css/reset/
     v2.0 | 20110126
     License: none (public domain)
  */
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  #mobile,
  #tablet,
  .nav-bot {
    display: none;
  }
  .blue-gradient {
    background-image: linear-gradient(#00bcdd 60%, rgba(0, 188, 221, 0));
  }
  .blue-gradient-dark {
    background-image: linear-gradient(#00afd4 60%, rgba(0, 175, 212, 0));
  }
  .blue {
    background: #00bcdd;
  }
  .blue-dark {
    background: #00afd4;
  }
  .grey {
    background: #f2f2f3;
  }
  .grey-dark {
    background: #e2e3e4;
  }
  .black {
    background: #333333;
  }
  .black-dark {
    background: #262626;
  }
  .darkgrey {
    background: #999b9d;
  }
  .darkgrey-dark {
    background: #85878a;
  }
  .purple {
    background: #aa7bc9;
  }
  .purple-dark {
    background: #906fb4;
  }
  .white {
    background: #ffffff;
  }
  .white-dark {
    background: #f2f2f3;
  }
  @font-face {
    font-family: "akkuratRegular";
    src: url('../fonts/AkkuratRegular.otf') format('opentype');
  }
  @font-face {
    font-family: "akkuratLight";
    src: url('../fonts/AkkuratLight.otf') format('opentype');
  }
  .nav-bot {
    display: block;
    width: 100vw;
    height: 9vh;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #fff;
    z-index: 10;
    background: #906fb4;
  }
  .nav-bot #our-work-menu {
    display: block;
    width: 100vw;
    height: 5vh;
    position: fixed;
    bottom: 9vh;
    left: 0;
  }
  .nav-bot #our-work-menu .menu-case {
    font-family: 'akkuratRegular', arial, sans-serif;
    font-size: 2.3vw;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    float: left;
    margin-top: 2vh;
    margin-left: 20vw;
  }
  .nav-bot #our-work-menu .menu-who {
    font-family: 'akkuratRegular', arial, sans-serif;
    font-size: 2.3vw;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    float: right;
    margin-top: 2vh;
    margin-right: 20vw;
  }
  .nav-bot .nav-bot-wrap {
    margin-top: 1.7vw;
    display: flex;
    justify-content: space-between;
    width: 92vw;
    padding: 0 4vw;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link {
    display: inline-block;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link a img {
    width: 5vw;
    margin-left: 1.5vw;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link p {
    text-align: center;
    text-transform: uppercase;
    font-family: 'akkuratRegular', arial, sans-serif;
    font-size: 1.7vw;
    margin-top: 1vh;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link p a {
    color: inherit;
    text-decoration: none;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link:nth-child(1) img {
    margin-bottom: 0;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link:nth-child(2) img {
    margin-bottom: 0;
    margin-left: 2.2vw;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link:nth-child(3) img {
    margin-bottom: 0;
    margin-left: 3vw;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link:nth-child(4) img {
    margin-bottom: 0;
    margin-left: 1.2vw;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link:nth-child(5) img {
    margin-bottom: 0;
    margin-left: 2.7vw;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link:nth-child(6) {
    display: none;
  }
  .nav-bot .nav-bot-wrap .nav-bot-link:nth-child(6) img {
    margin-bottom: 0;
    margin-left: 2.7vw;
  }
  .nav-top {
    font-family: 'akkuratRegular', arial, sans-serif;
    width: 100vw;
    height: 20vh;
    display: block;
    position: absolute;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.9vw;
    z-index: 10;
  }
  .nav-top .logo-wrap {
    display: none;
  }
  .nav-top .logo-wrap-t {
    width: 33vw;
    display: inline-block;
    height: 20vh;
    margin: 0;
    float: left;
    background: transparent;
  }
  .nav-top .logo-wrap-t .logo {
    margin: 6vw 0px 0px 4vw;
    width: 18vw;
  }
  .nav-top .menu-wrap {
    width: 33vw;
    display: inline-block;
    height: 20vh;
    margin: 0;
    float: left;
  }
  .nav-top .menu-wrap .ns-text {
    display: block;
    text-align: center;
    margin: 11vw auto 0 auto;
    font-size: 1.7vw;
  }
  .nav-top .menu-wrap .ns-text .ns-link {
    color: inherit;
    text-decoration: none;
  }
  .nav-top .menu-wrap .menu-top {
    display: none;
  }
  .nav-top .soc-wrap {
    width: 34vw;
    display: inline-block;
    height: 20vh;
    margin: 0;
    float: left;
  }
  .nav-top .soc-wrap .soc-menu {
    margin-left: 10vw;
    margin-top: 4vw;
    width: 16vw;
    display: flex;
    justify-content: space-between;
  }
  .nav-top .soc-wrap .soc-menu .soc-icons .soc-link img {
    height: 1.5vh;
  }
  .nav-top .soc-wrap .soc-phone {
    margin-left: 10vw;
    margin-top: -2.5vw;
    font-size: 2vw;
  }
  #dd {
    position: relative;
    width: 200px;
    padding: 10px;
    background: transparent;
    cursor: pointer;
    outline: none;
    color: #fff;
  }
  #dd .dropdown {
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;
    width: 11.5vw;
    font-weight: normal;
    list-style: none;
    pointer-events: none;
    background: #85878a;
  }
  #dd .dropdown li a {
    display: block;
    padding: 2vh;
    text-decoration: none;
    color: #fff;
  }
  .button {
    font-family: 'akkuratRegular', arial, sans-serif;
    font-size: 2.5vw;
    text-transform: uppercase;
    background: #1B3F45;
    text-align: center;
    border-radius: 2px;
    border: none;
    color: #fff;
    padding: 0 1vw;
  }
  .button a {
    color: inherit;
    text-decoration: none;
  }
  .button a img {
    width: 1.2vw;
    background: #1B3F45;
  }
  .underline {
    text-decoration: underline;
  }
  .br-t {
    display: block;
  }
  .br-m {
    display: none;
  }
  .logo-wrap-t {
    display: none;
  }
  .nav-side-tablet {
    display: none;
  }
  #dNewsletter {
    color: #fff;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    float: left;
    z-index: 100000;
    position: fixed;
  }
  #dNewsletter .closeWrap {
    width: 100vw;
    height: 3vh;
    padding-top: 4vh;
  }
  #dNewsletter .closeWrap .closeButton {
    margin-left: 85vw;
    text-transform: uppercase;
    font-size: 2vw;
    color: #fff;
    text-decoration: none;
  }
  #dNewsletter .newsletterLogo {
    width: 12vw;
    height: 12vw;
    display: block;
    text-align: justify;
    margin-left: 45vw;
    margin-top: 5vh;
  }
  #dNewsletter .newsletterContent .newsletterTitle {
    margin-left: 31vw;
    text-transform: uppercase;
    font-size: 5vw;
    margin-top: 3vh;
    position: absolute;
  }
  #dNewsletter .newsletterContent .newsletterText {
    position: abslute;
    width: 60vw;
    font-size: 2vw;
    line-height: 2vh;
    margin-left: 21vw;
    margin-top: 12vh;
    margin-bottom: 5vh;
  }
  #dNewsletter .newsletterContent .signupForm {
    width: 35vw;
    position: absolute;
    margin-top: 32vh;
    margin-left: 21vw;
  }
  #dNewsletter .newsletterContent .signupForm label {
    display: block;
    font-size: 2.5vw;
    margin-bottom: 1vh;
  }
  #dNewsletter .newsletterContent .signupForm input {
    display: block;
    width: 60vw;
    margin-bottom: 2vh;
    height: 35px;
  }
  #dNewsletter .newsletterContent .signupForm .nsButton {
    display: block;
    position: absolute;
    margin-top: 18vh;
    margin-left: 45vw;
  }
  #dNewsletter .newsletterContent .signupForm .nsButton button {
    width: 16vw;
    font-size: 2.5vw;
    color: #fff;
    background: #00BCDD;
    border: 0;
    border-radius: 3px;
    height: 3vh;
  }
  .sec-1 {
    height: 100vh;
    width: 100vw;
    display: block;
    top: 0;
    left: 0;
  }
  .sec-1 .sec-1-side-bg {
    display: none;
  }
  .sec-1 .sec-1-content-wrap {
    display: inline-block;
    width: 100vw;
    height: 100vh;
    float: right;
    font-family: 'akkuratRegular', arial, sans-serif;
    color: #fff;
  }
  .sec-1 .sec-1-content-wrap .sec-1-content {
    width: 80vw;
    margin-top: 20vh;
    margin-left: 17vw;
    display: inline-block;
  }
  .sec-1 .sec-1-content-wrap .sec-1-content .title {
    font-size: 9vw;
    margin-left: 0;
    margin-bottom: 3vh;
  }
  .sec-1 .sec-1-content-wrap .sec-1-content .p2 {
    font-size: 3vw;
    margin-bottom: 2vh;
  }
  .sec-1 .sec-1-content-wrap .sec-1-content .p1 {
    font-size: 1.9vw;
    margin-bottom: 2vh;
    line-height: 2.1vh;
    width: 60vw;
  }
  .sec-1 .sec-1-content-wrap .sec-1-img {
    margin-top: 2vh;
    display: inline-block;
    position: relative;
    margin-left: 29vw;
  }
  .sec-1 .sec-1-content-wrap .sec-1-img img {
    width: 40vw;
  }
  .sec-2 {
    height: 100vh;
    width: 100vw;
  }
  .sec-2 .sec-2-side-bg {
    display: none;
  }
  .sec-2 .sec-2-content-wrap {
    display: inline-block;
    width: 100vw;
    height: 100vh;
    float: right;
    font-family: 'akkuratRegular', arial, sans-serif;
    color: #fff;
  }
  .sec-2 .sec-2-content-wrap .sec-2-img {
    display: inline-block;
    margin-left: 0;
    position: absolute;
    bottom: -100.3vh;
    left: 25vw;
  }
  .sec-2 .sec-2-content-wrap .sec-2-img img {
    width: 50vw;
  }
  .sec-2 .sec-2-content-wrap .sec-2-content {
    width: 66vw;
    margin-top: 7vh;
    margin-left: 17vw;
    display: inline-block;
  }
  .sec-2 .sec-2-content-wrap .sec-2-content .title {
    font-size: 9vw;
    margin-left: 0;
    margin-bottom: 3vh;
  }
  .sec-2 .sec-2-content-wrap .sec-2-content .p2 {
    font-size: 3vw;
    margin-bottom: 2vh;
  }
  .sec-2 .sec-2-content-wrap .sec-2-content .p1 {
    font-size: 1.9vw;
    margin-bottom: 2vh;
    line-height: 3vh;
    width: 60vw;
  }
  .sec-3 {
    height: 110vh;
    width: 100vw;
  }
  .sec-3 .sec-3-side-bg {
    display: none;
  }
  .sec-3 .sec-3-content-wrap {
    display: inline-block;
    width: 100vw;
    height: 110vh;
    float: right;
    font-family: 'akkuratRegular', arial, sans-serif;
    color: #fff;
  }
  .sec-3 .sec-3-content-wrap .sec-3-content {
    width: 66vw;
    margin-top: 7vh;
    margin-left: 17vw;
    display: inline-block;
  }
  .sec-3 .sec-3-content-wrap .sec-3-content .title {
    font-size: 9vw;
    margin-left: 0;
    margin-bottom: 6vh;
    color: #aa7bc9;
  }
  .sec-3 .sec-3-content-wrap .sec-3-content .p1 {
    font-size: 1.9vw;
    margin-bottom: 2vh;
    line-height: 3vh;
    color: #85878a;
  }
  .sec-3 .sec-3-content-wrap .sec-3-more {
    margin-left: 17vw;
    margin-top: 3vh;
    border-top: 2px solid #e2e3e4;
    width: 66vw;
  }
  .sec-3 .sec-3-content-wrap .sec-3-more .p2 {
    color: #85878a;
    font-size: 3vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
  }
  .sec-3 .sec-3-content-wrap .sec-3-more img {
    display: inline-block;
    width: 23vh;
  }
  .sec-3 .sec-3-content-wrap .sec-3-more img:nth-child(2) {
    float: right;
  }
  .sec-3 .sec-3-content-wrap .sec-3-more img:nth-child(3) {
    display: none;
  }
  .sec-contact {
    height: 10vh;
    width: 100vw;
    display: block;
  }
  .sec-contact .sec-contact-sidebar {
    height: 14vh;
    width: 16vw;
    display: none;
  }
  .sec-contact .sec-contact-bg {
    height: 10vh;
    width: 100vw;
    display: inline-block;
    float: right;
  }
  .sec-contact .sec-contact-bg .sec-contact-content {
    display: inline-block;
    float: left;
    width: 96vw;
  }
  .sec-contact .sec-contact-bg .sec-contact-content .sec-contact-text {
    width: 45vw;
    color: #fff;
    font-family: 'akkuratRegular', arial, sans-serif;
    font-size: 2.5vw;
    margin-left: 4vw;
    margin-top: 2.5vh;
    line-height: 2.5vh;
  }
  .sec-contact .sec-contact-bg .sec-contact-content .button {
    vertical-align: top;
    display: inline-block;
    float: right;
    background: #aa7bc9;
    padding: 1.6vw;
    margin-top: -4.5vh;
    text-decoration: none;
  }
  .sec-contact .sec-contact-bg .sec-contact-content .button img {
    background: transparent;
  }
  footer {
    height: 19vh;
    width: 100vw;
    display: block;
  }
  footer .footer-sidebar {
    height: 14vh;
    width: 16vw;
    display: none;
  }
  footer .footer-bg {
    width: 100vw;
    height: 10vh;
    display: inline-block;
    float: right;
    color: #000;
    font-family: 'akkuratRegular', arial, sans-serif;
    font-size: 2vw;
  }
  footer .footer-bg .footer-content {
    margin-left: 4vw;
    margin-top: 3vh;
  }
  footer .footer-bg .footer-content p {
    display: inline;
    line-height: 2.2vh;
    margin-right: 10.7vw;
  }
  footer .footer-bg .footer-content p:nth-child(2) {
    float: right;
  }
}
