/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#mobile,
#tablet {
  display: none;
}
@font-face {
  font-family: "akkuratRegular";
  src: url('../fonts/AkkuratRegular.otf') format('opentype');
}
@font-face {
  font-family: "akkuratLight";
  src: url('../fonts/AkkuratLight.otf') format('opentype');
}
.bottomNav {
  display: none;
}
#dNewsletter {
  color: #fff;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  float: left;
  z-index: 100000;
  position: fixed;
}
#dNewsletter .closeWrap {
  width: 100vw;
  height: 3vh;
  padding-top: 17vh;
}
#dNewsletter .closeWrap .closeButton {
  margin-left: 80vw;
  text-transform: uppercase;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1vw;
  color: #fff;
  text-decoration: none;
}
#dNewsletter .newsletterLogo {
  width: 6vw;
  height: 6vw;
  display: block;
  text-align: justify;
  margin-left: 45vw;
}
#dNewsletter .newsletterContent .newsletterTitle {
  margin-left: 38vw;
  text-transform: uppercase;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 2.5vw;
  margin-top: 3vh;
  position: absolute;
}
#dNewsletter .newsletterContent .newsletterText {
  position: absolute;
  width: 30vw;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1vw;
  line-height: 3vh;
  margin-left: 15vw;
  margin-top: 6vh;
}
#dNewsletter .newsletterContent .signupForm {
  width: 35vw;
  position: absolute;
  float: right;
  margin-top: -24.5vh;
  margin-right: 15vw;
}
#dNewsletter .newsletterContent .signupForm label {
  display: block;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.2vw;
  margin-bottom: 1vh;
}
#dNewsletter .newsletterContent .signupForm input {
  display: block;
  width: 30vw;
  margin-bottom: 3vh;
  height: 35px;
}
#dNewsletter .newsletterContent .signupForm .nsButton {
  display: block;
  position: absolute;
  margin-top: 27vh;
  margin-left: 22.5vw;
}
#dNewsletter .newsletterContent .signupForm .nsButton button {
  width: 8vw;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.2vw;
  color: #fff;
  background: #00BCDD;
  border: 0;
  border-radius: 3px;
  height: 5vh;
}
.tSpace,
.mSpace,
.footerT {
  display: none;
}
html,
body {
  margin: 0;
  height: 100vh;
}
.logoWrapper,
.navWrapper,
.socialWrapper {
  display: inline-block;
  float: left;
  height: 20vh;
}
.nav-top {
  position: fixed;
  width: 100vw;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 0.9vw;
  color: #fff;
}
.nav-top .logoWrapper {
  background-image: linear-gradient(#906fb4 60%, rgba(144, 111, 180, 0));
  width: 16vw;
}
.nav-top .logoWrapper img {
  margin: 6.5vh 0 0 2vw;
  width: 9vw;
}
.nav-top .navWrapper {
  background-image: linear-gradient(#aa7bc9 60%, rgba(170, 123, 201, 0));
  width: 60vw;
  text-transform: uppercase;
}
.nav-top .navWrapper p {
  margin-left: 12vw;
  margin-top: 4vh;
}
.nav-top .navWrapper p a {
  color: inherit;
  text-decoration: none;
}
.nav-top .navWrapper p a img {
  height: 1.2vh;
}
.nav-top .navWrapper ul {
  margin-left: 12vw;
  margin-top: 6vh;
}
.nav-top .navWrapper ul li {
  display: inline;
  margin-right: 3vw;
}
.nav-top .navWrapper ul a {
  color: inherit;
  text-decoration: none;
}
.nav-top .socialWrapper {
  background-image: linear-gradient(#aa7bc9 60%, rgba(170, 123, 201, 0));
  width: 24vw;
}
.nav-top .socialWrapper p {
  margin-left: 3vw;
}
.nav-top .socialWrapper ul {
  margin: 3vh 0 5vh 3vw;
}
.nav-top .socialWrapper ul li {
  display: inline;
  margin-right: 1.9vw;
}
.section1 {
  color: #fff;
  width: 100vw;
}
.section1 .sideBar {
  width: 16vw;
  height: 80vh;
  float: left;
  display: inline-block;
  background: #906fb4;
}
.section1 .s1Content {
  width: 84vw;
  height: 80vh;
  display: inline-block;
  float: right;
  background: #aa7bc9;
}
.section1 .s1Content .s1Title {
  margin-top: 25vh;
  margin-left: 12vw;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 4.4vw;
  width: 45vw;
  line-height: 10vh;
}
.section1 .s1Content .s1Title span {
  text-decoration: underline;
}
.section1 .s1Content .s1Text {
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.15vw;
  line-height: 4vh;
  margin-top: 6vh;
  margin-left: 12vw;
  width: 45vw;
}
.section1 .s1Content .s1Text p {
  margin-bottom: 2.5vh;
}
.section2 {
  font-family: 'akkuratRegular', arial, sans-serif;
  height: 300vh;
}
.section2 .sideBar {
  width: 16vw;
  height: 220vh;
  float: left;
  display: inline-block;
  background: #F2F2F2;
}
.section2 .wrapper {
  width: 60vw;
  margin-left: 12vw;
  float: left;
  margin-top: 12vh;
}
.section2 .wrapper .title {
  font-size: 4.4vw;
  color: #000;
  position: relative;
  margin-bottom: 3vh;
  z-index: -1;
}
.section2 .wrapper img {
  display: inline-block;
  vertical-align: top;
  width: 9.5vw;
  margin-top: 3vh;
}
.section2 .wrapper .contentWrapper {
  display: inline-block;
  margin-top: 3vh;
  margin-left: 1.5vw;
}
.section2 .wrapper .contentWrapper .text {
  font-size: 1.8vw;
  color: #5C6E7B;
  width: 47vw;
  margin-bottom: 4vh;
  line-height: 4vh;
}
.section2 .wrapper .contentWrapper .subText {
  font-size: 1.15vw;
  color: #5C6E7B;
  width: 47vw;
  line-height: 3vh;
}
.section3 {
  color: #fff;
  width: 100vw;
  background: #aa7bc9;
}
.section3 .sideBar {
  width: 16vw;
  height: 80vh;
  float: left;
  display: inline-block;
  background: #906fb4;
}
.section3 .content {
  height: 80vh;
}
.section3 .content .wrapper {
  margin-left: 28vw;
  padding-top: 12vh;
  width: 48vw;
}
.section3 .content .wrapper .title {
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 4.4vw;
  margin-bottom: 5vh;
}
.section3 .content .wrapper .title span {
  text-decoration: underline;
}
.section3 .content .wrapper .text {
  font-size: 1.15vw;
  font-family: 'akkuratRegular', arial, sans-serif;
  margin-bottom: 3vh;
  line-height: 3vh;
}
.section3 .content .wrapper .subText {
  font-size: 1.8vw;
  font-family: 'akkuratRegular', arial, sans-serif;
}
.section3 .content .wrapper .button {
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.2vw;
  text-transform: uppercase;
  background: #1B3F45;
  text-align: center;
  border-radius: 2px;
  height: 6vh;
  margin-top: 5vh;
  width: 16vw;
}
.section3 .content .wrapper .button a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 1.8vh;
}
.section3 .content .wrapper .button a img {
  width: 1.2vw;
  background: #1B3F45;
}
.contact {
  display: table;
  height: 20vh;
  color: #fff;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.15vw;
}
.contact .contactDark {
  display: table-cell;
  width: 16.3vw;
  background: #262626;
}
.contact .contactContent {
  display: table-cell;
  width: 84vw;
  background: #333333;
}
.contact .contactContent p {
  margin-right: 3vw;
  margin-left: 15vw;
  display: inline-block;
  margin-top: 9vh;
}
.contact .contactContent .contactButton {
  display: inline-block;
  text-transform: uppercase;
  padding: 1.5vh 2.5vh;
  border-radius: 2px;
  background: #aa7bc9;
}
.contact .contactContent .contactButton a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}
.contact .contactContent .contactButton a img {
  width: 1.2vw;
}
footer {
  display: table;
  height: 20vh;
  color: #000;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 0.9vw;
}
footer .footerDark {
  background: #DEDFDF;
  width: 16vw;
  display: table-cell;
  margin-top: 9vh;
}
footer .footerContent {
  display: table-cell;
  background: #E9EAEA;
  width: 84vw;
}
footer .footerContent p {
  margin-top: 5vw;
  margin-left: 17vw;
}
.scrolled2 .navWrapper,
.scrolled2 .socialWrapper {
  background: #aa7bc9;
}
.scrolled2 .logoWrapper {
  background: #906fb4;
}
