/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#mobile,
#tablet,
.nav-bot {
  display: none;
}
.blue-gradient {
  background-image: linear-gradient(#00bcdd 60%, rgba(0, 188, 221, 0));
}
.blue-gradient-dark {
  background-image: linear-gradient(#00afd4 60%, rgba(0, 175, 212, 0));
}
.blue {
  background: #00bcdd;
}
.blue-dark {
  background: #00afd4;
}
.grey {
  background: #f2f2f3;
}
.grey-dark {
  background: #e2e3e4;
}
.black {
  background: #333333;
}
.black-dark {
  background: #262626;
}
@font-face {
  font-family: "akkuratRegular";
  src: url('../fonts/AkkuratRegular.otf') format('opentype');
}
@font-face {
  font-family: "akkuratLight";
  src: url('../fonts/AkkuratLight.otf') format('opentype');
}
.nav-top {
  top: 0;
  font-family: 'akkuratRegular', arial, sans-serif;
  width: 100vw;
  height: 20vh;
  display: block;
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.9vw;
  z-index: 10;
}
.nav-top .logo-wrap {
  width: 16vw;
  display: inline-block;
  height: 20vh;
  margin: 0;
  float: left;
}
.nav-top .logo-wrap .logo {
  margin: 6.5vh 0 0 2vw;
  width: 9vw;
}
.nav-top .menu-wrap {
  width: 68vw;
  display: inline-block;
  height: 20vh;
  margin: 0;
  float: left;
}
.nav-top .menu-wrap .ns-text {
  margin-left: 12vw;
  margin-top: 4vh;
}
.nav-top .menu-wrap .ns-text .ns-link {
  color: inherit;
  text-decoration: none;
}
.nav-top .menu-wrap .menu-top {
  margin-left: 12vw;
  margin-top: 6vh;
}
.nav-top .menu-wrap .menu-top .menu-top-item {
  display: inline;
  margin-right: 3vw;
}
.nav-top .menu-wrap .menu-top .menu-top-item .menu-top-link {
  display: inline;
  color: inherit;
  text-decoration: none;
}
.nav-top .soc-wrap {
  width: 16vw;
  display: inline-block;
  height: 20vh;
  margin: 0;
  float: left;
}
.nav-top .soc-wrap .soc-menu {
  width: 7vw;
  margin: 3.7vh 0 5vh 0;
  display: flex;
  justify-content: space-between;
}
.nav-top .soc-wrap .soc-menu .soc-icons .soc-link img {
  height: 2.2vh;
}
.nav-top .soc-wrap .soc-phone {
  margin-left: 0;
}
#dd {
  position: relative;
  width: 200px;
  padding: 10px;
  background: transparent;
  cursor: pointer;
  outline: none;
  color: #fff;
}
#dd .dropdown {
  position: absolute;
  top: 140%;
  left: 0;
  right: 0;
  width: 11.5vw;
  font-weight: normal;
  list-style: none;
  pointer-events: none;
  background: #e95944;
}
#dd .dropdown li a {
  display: block;
  padding: 2vh;
  text-decoration: none;
  color: #fff;
}
.button {
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.2vw;
  text-transform: uppercase;
  background: #1B3F45;
  text-align: center;
  border-radius: 2px;
  border: none;
  color: #fff;
  padding: 0 1vw;
}
.button a {
  color: inherit;
  text-decoration: none;
}
.button a img {
  width: 1.2vw;
  background: #1B3F45;
}
.underline {
  text-decoration: underline;
}
.br-t,
.br-m {
  display: none;
}
.logo-wrap-t {
  display: none;
}
.nav-side-tablet {
  display: none;
}
#dNewsletter {
  color: #fff;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  float: left;
  z-index: 100000;
  position: fixed;
}
#dNewsletter .closeWrap {
  width: 100vw;
  height: 3vh;
  padding-top: 17vh;
}
#dNewsletter .closeWrap .closeButton {
  margin-left: 77.5vw;
  text-transform: uppercase;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1vw;
  color: #fff;
  text-decoration: none;
}
#dNewsletter .newsletterLogo {
  width: 6vw;
  height: 6vw;
  display: block;
  text-align: justify;
  margin-left: 45vw;
}
#dNewsletter .newsletterContent .newsletterTitle {
  margin-left: 38vw;
  text-transform: uppercase;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 2.5vw;
  margin-top: 3vh;
  position: absolute;
}
#dNewsletter .newsletterContent .newsletterText {
  position: absolute;
  width: 30vw;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1vw;
  line-height: 3vh;
  margin-left: 15vw;
  margin-top: 15vh;
}
#dNewsletter .newsletterContent .signupForm {
  width: 35vw;
  position: absolute;
  float: left;
  margin-top: 15vh;
  margin-left: 50vw;
}
#dNewsletter .newsletterContent .signupForm label {
  display: block;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.2vw;
  margin-bottom: 1vh;
}
#dNewsletter .newsletterContent .signupForm input {
  display: block;
  width: 30vw;
  margin-bottom: 3vh;
  height: 35px;
}
#dNewsletter .newsletterContent .signupForm .nsButton {
  display: block;
  position: absolute;
  margin-top: 27vh;
  margin-left: 22.5vw;
}
#dNewsletter .newsletterContent .signupForm .nsButton button {
  width: 8vw;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.2vw;
  color: #fff;
  background: #00BCDD;
  border: 0;
  border-radius: 3px;
  height: 5vh;
}
.sec-contact {
  height: 14vh;
  width: 100vw;
  display: block;
}
.sec-contact .sec-contact-sidebar {
  height: 14vh;
  width: 16vw;
  display: inline-block;
}
.sec-contact .sec-contact-bg {
  height: 14vh;
  width: 84vw;
  display: inline-block;
  float: right;
}
.sec-contact .sec-contact-bg .sec-contact-content {
  display: inline-block;
  float: left;
}
.sec-contact .sec-contact-bg .sec-contact-content .sec-contact-text {
  width: 47vw;
  color: #fff;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.1vw;
  margin-left: 12vw;
  margin-top: 6vh;
}
.sec-contact .sec-contact-bg .sec-contact-content .button {
  vertical-align: top;
  display: inline-block;
  float: right;
  background: #eb6852;
  padding: 0.6vw;
  margin-top: -3.5vh;
  text-decoration: none;
}
.sec-contact .sec-contact-bg .sec-contact-content .button img {
  background: transparent;
}
footer {
  height: 14vh;
  width: 100vw;
  display: block;
}
footer .footer-sidebar {
  height: 14vh;
  width: 16vw;
  display: inline-block;
}
footer .footer-bg {
  width: 84vw;
  height: 14vh;
  display: inline-block;
  float: right;
  color: #000;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 0.9vw;
}
footer .footer-bg .footer-content {
  margin-left: 12vw;
  margin-top: 6vh;
}
footer .footer-bg .footer-content p {
  display: inline;
  margin-right: 9.5vw;
}
.sec-1 {
  display: block;
  height: 70vh;
  width: 100vw;
}
.sec-1 .sec-1-side {
  display: inline-block;
  float: left;
  height: 70vh;
  width: 16vw;
  background: #e95944;
}
.sec-1 .sec-1-content-wrap {
  display: inline-block;
  float: right;
  height: 70vh;
  width: 84vw;
  background: #eb6852;
}
.sec-1 .sec-1-content-wrap .sec-1-content {
  margin-left: 12vw;
  color: #fff;
  margin-top: 23vh;
  font-family: 'akkuratRegular', arial, sans-serif;
}
.sec-1 .sec-1-content-wrap .sec-1-content .title {
  font-size: 5vw;
  width: 50vw;
}
.sec-1 .sec-1-content-wrap .sec-1-content .p1 {
  font-size: 1.15vw;
  margin-top: 6vh;
  width: 45vw;
  line-height: 3vh;
}
.sec-2 {
  display: block;
  height: 185vh;
  width: 100vw;
}
.sec-2 .sec-2-side {
  display: inline-block;
  float: left;
  height: 185vh;
  width: 16vw;
  background: #f2f2f3;
}
.sec-2 .sec-2-side .nav-side {
  display: inline-block;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1vw;
  width: 16vw;
  height: 100vh;
}
.sec-2 .sec-2-side .nav-side a {
  color: inherit;
  text-decoration: none;
}
.sec-2 .sec-2-side .nav-side form {
  margin-top: 6vh;
  margin-left: 2vw;
}
.sec-2 .sec-2-side .nav-side form input {
  border: 0 none;
  background: #f2f2f2 url('../img/search-ico.png') no-repeat right center;
  line-height: 2vw;
  font-size: 1vw;
  font-weight: normal;
  color: #999b9d;
  border-bottom: 1px solid #B9BCBE;
}
.sec-2 .sec-2-side .nav-side p {
  margin-top: 5vh;
  margin-left: 2vw;
}
.sec-2 .sec-2-side .nav-side ul {
  margin-top: 5vh;
  margin-left: 2vw;
}
.sec-2 .sec-2-side .nav-side li {
  margin-bottom: 2vh;
}
.sec-2 .sec-2-side .nav-side .hoverable {
  cursor: default;
  text-decoration: none;
}
.sec-2 .sec-2-side .nav-side .hoverable .hover {
  display: none;
}
.sec-2 .sec-2-side .nav-side .hoverable:hover .normal {
  display: none;
}
.sec-2 .sec-2-side .nav-side .hoverable:hover .hover {
  display: inline;
}
.sec-2 .sec-2-content-wrap {
  display: inline-block;
  float: right;
  height: 185vh;
  width: 84vw;
  background: #ffffff;
}
.sec-2 .sec-2-content-wrap .sec-2-content {
  margin-left: 6vw;
  margin-top: 6vh;
}
.sec-2 .sec-2-content-wrap .sec-2-content .blog-item {
  display: inline-block;
  margin-right: 7vw;
  margin-bottom: 12vh;
}
.sec-2 .sec-2-content-wrap .sec-2-content .blog-item .blogTitle {
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.6vw;
  line-height: 4vh;
  margin-bottom: 2vh;
  width: 15vw;
}
.sec-2 .sec-2-content-wrap .sec-2-content .blog-item .blogDate {
  font-size: 0.9vw;
  margin-bottom: 2vh;
  font-family: 'akkuratLight', arial, sans-serif;
}
.sec-2 .sec-2-content-wrap .sec-2-content .blog-item .blogDate .blogSection {
  font-family: 'akkuratRegular', arial, sans-serif;
}
.sec-2 .sec-2-content-wrap .sec-2-content .blog-item .blogDate .blogSection a {
  color: #60c5ba;
}
.sec-2 .sec-2-content-wrap .sec-2-content .blog-item .blogDate .blogSection a :visited {
  color: #9c8dc3;
}
.sec-2 .sec-2-content-wrap .sec-2-content .blog-item .blogSnip {
  line-height: 3vh;
  margin-bottom: 4vh;
  width: 17vw;
  color: #808285;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1vw;
}
.sec-2 .sec-2-content-wrap .sec-2-content .blog-item .button {
  width: 18vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.sec-2 .sec-2-content-wrap .sec-2-content .pagination .blog_pagination {
  text-align: center;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.2vw;
  margin-top: -3vh;
  margin-left: -20vh;
}
.sec-2 .sec-2-content-wrap .sec-2-content .pagination .blog_pagination a {
  color: #42C4DD;
  text-decoration: none;
  margin: 1vh;
  padding: 0.7vh 1vh;
  border-radius: 2px;
  line-height: 1vh;
}
.sec-2 .sec-2-content-wrap .sec-2-content .pagination .blog_pagination a:hover {
  color: #FFF;
  background: #bbbbbb;
}
.sec-4 {
  height: 45vh;
  width: 100vw;
  display: block;
}
.sec-4 .sec-4-sidebar {
  height: 45vh;
  width: 16vw;
  display: inline-block;
  background: #e95944;
}
.sec-4 .sec-4-bg {
  width: 84vw;
  height: 45vh;
  display: inline-block;
  float: right;
  color: #fff;
  background: #eb6852;
  font-family: 'akkuratRegular', arial, sans-serif;
}
.sec-4 .sec-4-bg .sec-4-content {
  width: 60vw;
  margin-left: 12vw;
  margin-top: 8vh;
}
.sec-4 .sec-4-bg .sec-4-content .p2 {
  font-size: 1.6vw;
  line-height: 4.5vh;
  width: 35vw;
}
.sec-4 .sec-4-bg .sec-4-content .signup-form {
  margin-top: 10vh;
}
.sec-4 .sec-4-bg .sec-4-content .signup-form .input-name {
  display: inline;
  margin-right: 1vw;
}
.sec-4 .sec-4-bg .sec-4-content .signup-form .input-name input {
  width: 18vw;
  height: 5vh;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  font-family: 'akkuratRegular', arial, sans-serif;
  color: #fff;
  font-size: 1.2vw;
}
.sec-4 .sec-4-bg .sec-4-content .signup-form .input-name input::-webkit-input-placeholder {
  color: #fff;
  font-size: 1.2vw;
}
.sec-4 .sec-4-bg .sec-4-content .signup-form .input-name input::-moz-placeholder {
  color: #fff;
  font-size: 1.2vw;
}
.sec-4 .sec-4-bg .sec-4-content .signup-form .input-name input:-moz-placeholder {
  /* Older versions of Firefox */
  color: #fff;
  font-size: 1.2vw;
}
.sec-4 .sec-4-bg .sec-4-content .signup-form .input-name input:-ms-input-placeholder {
  color: #fff;
  font-size: 1.2vw;
}
.sec-4 .sec-4-bg .sec-4-content .signup-form .input-email {
  display: inline;
  margin-right: 1vw;
}
.sec-4 .sec-4-bg .sec-4-content .signup-form .input-email input {
  width: 18vw;
  height: 5vh;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  font-family: 'akkuratRegular', arial, sans-serif;
  color: #fff;
  font-size: 1.2vw;
}
.sec-4 .sec-4-bg .sec-4-content .signup-form .input-email input::-webkit-input-placeholder {
  color: #fff;
  font-size: 1.2vw;
}
.sec-4 .sec-4-bg .sec-4-content .signup-form .input-email input::-moz-placeholder {
  color: #fff;
  font-size: 1.2vw;
}
.sec-4 .sec-4-bg .sec-4-content .signup-form .input-email input:-moz-placeholder {
  /* Older versions of Firefox */
  color: #fff;
  font-size: 1.2vw;
}
.sec-4 .sec-4-bg .sec-4-content .signup-form .input-email input:-ms-input-placeholder {
  color: #fff;
  font-size: 1.2vw;
}
.sec-4 .sec-4-bg .sec-4-content .signup-form .form-button {
  display: inline;
}
.sec-4 .sec-4-bg .sec-4-content .signup-form .form-button button {
  height: 6vh;
  background: #4a2f24;
}
