.more-menu .more-menu-items a.more-menu-item{
	color: #FFF;
	text-decoration: none;
}
body .nav-bot #our-work-menu .menu-case{
	margin-top: 3.5vh;
}
body .nav-bot #our-work-menu{
	height: 9vh;
}
.page-template-template-contact .nav-bot #our-work-menu,
.page-template-template-contact .nav-bot{
	background: #00BCDD;
}
.page-template-template-about-us .nav-bot #our-work-menu{
	background: #26b8b0;
}
.page-template-template-services .nav-bot #our-work-menu{
	background: #906fb4;
}
.page-template-template-blog .nav-bot #our-work-menu{
	background: #e95944;
}
.page-template-template-case-studies #dd .dropdown{
	background: #FFC425;
}
a.cat-link-Digital{
	color: #42C4DD;
	text-decoration: none;
}
a.cat-link-Innovation{
	color: #9C8DC3;
	text-decoration: none;
}
a.cat-link-Design{
	color: #60C5BA;
	text-decoration: none;
}
a.cat-link-Technology{
	color: #FFD24F;
	text-decoration: none;
}
.slick-arrow{
	width: 80px;
	height: 80px;
	background: url('../img/case-study-arrows.png') no-repeat;
	    border: medium none;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 0;
    line-height: 0;
    margin-top: -40px;
    outline: medium none;
    padding: 0;
    position: absolute;
    top: 50%;
}



.slick-prev{
	background-position: top left;
	left: -2vw;
}
.slick-next{
	background-position: top right;
	right: -2vw;
}
.page-template-template-case-studies .case-study-anchor{
	display: none;
}
.page-template-template-work #close-icon{
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}
.page-template-template-work .sec-2 .container .mix{
	cursor: pointer;
}
.page-template-template-work #No-case-study .ncs-wrap{
	position: relative;
}
#No-case-study .ncs-wrap .p1{
	color: #595959;
}
.social-list{
	margin-left: 2vw;
    margin-top: 6vh;
    color: #808285;
    font-family: "akkuratRegular",arial,sans-serif;
    font-size: 1vw;
    line-height: 3vh;
    margin-bottom: 4vh;
    width: 14vw;
}
.social-list p.share-title{
	margin-left: 8px;
}
.social-list .st_linkedin_large .stButton .stLarge{
	background-image: url("../img/social-in-grey.png")!important;
	background-position: center center;
    background-repeat: no-repeat;
}
.social-list .st_facebook_large .stButton .stLarge{
	background-image: url("../img/social-fb-grey.png")!important;
	background-position: center center;
    background-repeat: no-repeat;
}
.social-list .st_twitter_large .stButton .stLarge{
	background-image: url("../img/social-tw-grey.png")!important;
	background-position: center center;
    background-repeat: no-repeat;
}
.social-list .st_sharethis_large .stButton .stLarge{
	background-image: url("../img/social-st-grey.png")!important;
	background-position: center center;
    background-repeat: no-repeat;
}
.gform_wrapper.signupForm_wrapper{
	margin: auto;
	max-width: 100%;
}
#dNewsletter .newsletterContent .signupForm label{
	font-weight: normal;
	line-height: 1;
}
#dNewsletter .newsletterContent .signupForm {
  width: 35vw;
  position: absolute;
  float: left;
  margin-top: 15vh;
  margin-left: 50vw;
}
#dNewsletter .newsletterContent .signupForm label {
  display: block;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.2vw;
  margin-bottom: 1vh;
  margin-top: 0;

}
#dNewsletter .newsletterContent .signupForm input {
  display: block;
  width: 30vw;
  margin-bottom: 3vh;
  height: 35px;
  padding: 0.1em 0;
}
#dNewsletter .newsletterContent .signupForm .gform_footer {
  display: block;
  position: absolute;
  margin-top: 4vh;
  margin-left: 22.5vw;
}
#dNewsletter .newsletterContent .signupForm .gform_footer .gform_button {
  width: 8vw;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.2vw;
  color: #fff;
  background: #00BCDD;
  border: 0;
  border-radius: 3px;
  height: 5vh;
  text-transform: none;
}
#dNewsletter .gform_wrapper div.validation_error{
	display: none;
}
#dNewsletter .gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning{
	background: transparent;
	border: 0 none;
}

#dNewsletter .newsletterContent .signupForm .gfield_error input{
	margin-bottom:0;
}
#dNewsletter .gform_wrapper .gfield_error .gfield_label{
	color: #FFF;
}
#dNewsletter .gform_wrapper .validation_message{
	color: #FFF;
	font-family: 'akkuratRegular', arial, sans-serif;
	font-weight: normal;
}
form.signup-form{
	margin-top: 4vh!important;
}
.sec-4 .sec-4-bg .sec-4-content .signup-form li{
	float: left!important;
}
.sec-4 .sec-4-bg .sec-4-content .gform_wrapper ul li.gfield{
	clear: none!important;
}
.sec-4 .sec-4-bg .sec-4-content .gform_body{
	float: left;
}
.sec-4 .sec-4-bg .sec-4-content .gform_footer{
	float: left;
	clear: none!important;
}
.sec-4 .sec-4-bg .sec-4-content .gform_wrapper .gform_footer input.button,
.sec-4 .sec-4-bg .sec-4-content .gform_wrapper .gform_footer input[type="submit"]{
	background: #4a2f24 none repeat scroll 0 0;
    height: 6vh;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    font-family: "akkuratRegular",arial,sans-serif;
    font-size: 1.2vw;
    padding: 0 1vw;
    text-align: center;
    text-transform: uppercase;
    padding-right: 55px;
    background: #4a2f24 url("../img/btn-arrow.png") no-repeat scroll right 15px center;
}
.sec-1 .sec-1-content-wrap .search .search-form input{
    background: #eb6852 url("../img/search-ico-white.png") no-repeat scroll right center!important;
}
.rss-blog-post{
	float: right;
	margin-right: 12vw;
	margin-top: -0.1vw;
}
.single-post .button,
.single-post .button a img{
	background: #4c494a;
}
.single-post .sec-1 .sec-1-content-wrap .search .search-form{
	margin-right: 1vw;
}
.single-post .sec-1 .sec-1-content-wrap .sec-1-content .title{
	text-transform: lowercase;
}
.single-post .sec-1 .sec-1-content-wrap .sec-1-content .title:first-letter{
	text-transform: capitalize;
}
.single-post .sec-1 .sec-1-content-wrap .search .search-form input::-webkit-input-placeholder { /* WebKit browsers */
      color: transparent;
  }
.single-post .sec-1 .sec-1-content-wrap .search .search-form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: transparent;
  }
.single-post .sec-1 .sec-1-content-wrap .search .search-form input::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: transparent;
  }
.single-post .sec-1 .sec-1-content-wrap .search .search-form input:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: transparent;
  }

@media only screen and (min-width : 959px) {
	.single-post .sec-3 .sec-3-content-wrap .sec-3-content .blog-item .blogTitle{
	width: 16vw;
	-ms-word-break: break-all;
     word-break: break-all;

     // Non standard for webkit
     word-break: break-word;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;

}
.sec-2 .sec-2-content-wrap .sec-2-content .blog-item{
	width: 17vw;
	vertical-align: top;
}
.single-casestudy .sec-2 .sec-2-content-wrap .sec-2-content{
	float: right;
	margin-right: 12vw;
	width: 39vw;
	margin-left: 0;

}
.single-casestudy .sec-2 .sec-2-content-wrap .sec-2-content .p1{
	width: auto;
}

.single-casestudy .sec-2 .sec-2-content-wrap .sec-2-img{
	float: left;
	display: block;
	position: absolute;
	bottom: 0;
	width: 30vw;
}
#slick{

}
.single-casestudy .sec-2{
	position: relative;
}
}

