/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#mobile,
#tablet {
  display: none;
}
.test {
  display: block;
}
@font-face {
  font-family: "akkuratRegular";
  src: url('../fonts/AkkuratRegular.otf') format('opentype');
}
@font-face {
  font-family: "akkuratLight";
  src: url('../fonts/AkkuratLight.otf') format('opentype');
}
#dNewsletter {
  color: #fff;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  float: left;
  z-index: 100000;
  position: fixed;
}
#dNewsletter .closeWrap {
  width: 100vw;
  height: 3vh;
  padding-top: 17vh;
}
#dNewsletter .closeWrap .closeButton {
  margin-left: 80vw;
  text-transform: uppercase;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1vw;
  color: #fff;
  text-decoration: none;
}
#dNewsletter .newsletterLogo {
  width: 6vw;
  height: 6vw;
  display: block;
  text-align: justify;
  margin-left: 45vw;
}
#dNewsletter .newsletterContent .newsletterTitle {
  margin-left: 38vw;
  text-transform: uppercase;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 2.5vw;
  margin-top: 3vh;
  position: abslute;
}
#dNewsletter .newsletterContent .newsletterText {
  position: abslute;
  width: 30vw;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1vw;
  line-height: 3vh;
  margin-left: 15vw;
  margin-top: 6vh;
}
#dNewsletter .newsletterContent .signupForm {
  width: 35vw;
  position: abslute;
  float: right;
  margin-top: -24.5vh;
  margin-right: 15vw;
}
#dNewsletter .newsletterContent .signupForm label {
  display: block;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.2vw;
  margin-bottom: 1vh;
}
#dNewsletter .newsletterContent .signupForm input {
  display: block;
  width: 30vw;
  margin-bottom: 3vh;
  height: 35px;
}
#dNewsletter .newsletterContent .signupForm .nsButton {
  display: block;
  position: absolute;
  margin-top: 27vh;
  margin-left: 22.5vw;
}
#dNewsletter .newsletterContent .signupForm .nsButton button {
  width: 8vw;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.2vw;
  color: #fff;
  background: #00BCDD;
  border: 0;
  border-radius: 3px;
  height: 5vh;
}
html,
body {
  margin: 0;
  height: 100vh;
}
.logoWrapper,
.navWrapper,
.socialWrapper {
  display: inline-block;
  float: left;
  height: 20vh;
}
.nav-top {
  position: fixed;
  width: 100vw;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 0.9vw;
  color: #fff;
}
.nav-top .logoWrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #00afd4), to(rgba(0, 175, 212, 0)));
  background-image: -webkit-linear-gradient(#00afd4 60%, rgba(0, 175, 212, 0));
  background-image: -o-linear-gradient(#00afd4 60%, rgba(0, 175, 212, 0));
  background-image: linear-gradient(#00afd4 60%, rgba(0, 175, 212, 0));
  width: 16vw;
}
.nav-top .logoWrapper img {
  margin: 6.5vh 0 0 2vw;
  width: 9vw;
}
.nav-top .navWrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #00bcdd), to(rgba(0, 188, 221, 0)));
  background-image: -webkit-linear-gradient(#00bcdd 60%, rgba(0, 188, 221, 0));
  background-image: -o-linear-gradient(#00bcdd 60%, rgba(0, 188, 221, 0));
  background-image: linear-gradient(#00bcdd 60%, rgba(0, 188, 221, 0));
  width: 60vw;
  text-transform: uppercase;
}
.nav-top .navWrapper p {
  margin-left: 12vw;
  margin-top: 4vh;
}
.nav-top .navWrapper p a {
  color: inherit;
  text-decoration: none;
}
.nav-top .navWrapper p a img {
  height: 1.2vh;
}
.nav-top .navWrapper ul {
  margin-left: 12vw;
  margin-top: 6vh;
}
.nav-top .navWrapper ul li {
  display: inline;
  margin-right: 3vw;
}
.nav-top .navWrapper ul a {
  color: inherit;
  text-decoration: none;
}
.nav-top #mobileSection2,
.nav-top #mobileSection3,
.nav-top #mobileSection4,
.nav-top #mobileSection5 {
  display: none;
}
.nav-top .socialWrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #00bcdd), to(rgba(0, 188, 221, 0)));
  background-image: -webkit-linear-gradient(#00bcdd 60%, rgba(0, 188, 221, 0));
  background-image: -o-linear-gradient(#00bcdd 60%, rgba(0, 188, 221, 0));
  background-image: linear-gradient(#00bcdd 60%, rgba(0, 188, 221, 0));
  width: 24vw;
}
.nav-top .socialWrapper p {
  margin-left: 3vw;
}
.nav-top .socialWrapper ul {
  margin: 3vh 0 5vh 3vw;
}
.nav-top .socialWrapper ul li {
  display: inline;
  margin-right: 1.9vw;
}
.scrolled2 .navWrapper,
.scrolled2 .socialWrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #ffd03e), to(rgba(255, 208, 62, 0)));
  background-image: -webkit-linear-gradient(#ffd03e 60%, rgba(255, 208, 62, 0));
  background-image: -o-linear-gradient(#ffd03e 60%, rgba(255, 208, 62, 0));
  background-image: linear-gradient(#ffd03e 60%, rgba(255, 208, 62, 0));
}
.scrolled2 .logoWrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #ffc627), to(rgba(255, 198, 39, 0)));
  background-image: -webkit-linear-gradient(#ffc627 60%, rgba(255, 198, 39, 0));
  background-image: -o-linear-gradient(#ffc627 60%, rgba(255, 198, 39, 0));
  background-image: linear-gradient(#ffc627 60%, rgba(255, 198, 39, 0));
}
.scrolled3 .navWrapper,
.scrolled3 .socialWrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #aa7bc9), to(rgba(170, 123, 201, 0)));
  background-image: -webkit-linear-gradient(#aa7bc9 60%, rgba(170, 123, 201, 0));
  background-image: -o-linear-gradient(#aa7bc9 60%, rgba(170, 123, 201, 0));
  background-image: linear-gradient(#aa7bc9 60%, rgba(170, 123, 201, 0));
}
.scrolled3 .logoWrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #906fb4), to(rgba(144, 111, 180, 0)));
  background-image: -webkit-linear-gradient(#906fb4 60%, rgba(144, 111, 180, 0));
  background-image: -o-linear-gradient(#906fb4 60%, rgba(144, 111, 180, 0));
  background-image: linear-gradient(#906fb4 60%, rgba(144, 111, 180, 0));
}
.scrolled4 .navWrapper,
.scrolled4 .socialWrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #48c3b1), to(rgba(72, 195, 177, 0)));
  background-image: -webkit-linear-gradient(#48c3b1 60%, rgba(72, 195, 177, 0));
  background-image: -o-linear-gradient(#48c3b1 60%, rgba(72, 195, 177, 0));
  background-image: linear-gradient(#48c3b1 60%, rgba(72, 195, 177, 0));
}
.scrolled4 .logoWrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #24b9ad), to(rgba(36, 185, 173, 0)));
  background-image: -webkit-linear-gradient(#24b9ad 60%, rgba(36, 185, 173, 0));
  background-image: -o-linear-gradient(#24b9ad 60%, rgba(36, 185, 173, 0));
  background-image: linear-gradient(#24b9ad 60%, rgba(36, 185, 173, 0));
}
.scrolled5 .navWrapper,
.scrolled5 .socialWrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #eb6851), to(rgba(235, 104, 81, 0)));
  background-image: -webkit-linear-gradient(#eb6851 60%, rgba(235, 104, 81, 0));
  background-image: -o-linear-gradient(#eb6851 60%, rgba(235, 104, 81, 0));
  background-image: linear-gradient(#eb6851 60%, rgba(235, 104, 81, 0));
}
.scrolled5 .logoWrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #e95944), to(rgba(233, 89, 68, 0)));
  background-image: -webkit-linear-gradient(#e95944 60%, rgba(233, 89, 68, 0));
  background-image: -o-linear-gradient(#e95944 60%, rgba(233, 89, 68, 0));
  background-image: linear-gradient(#e95944 60%, rgba(233, 89, 68, 0));
}
.sectionOne,
.sectionTwo,
.sectionThree,
.sectionFour,
.sectionFive {
  display: block;
}
.sectionOne .sideNav,
.sectionTwo .sideNav,
.sectionThree .sideNav,
.sectionFour .sideNav,
.sectionFive .sideNav {
  display: inline-block;
  color: #FFF;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1vw;
  width: 16vw;
  height: 100vh;
}
.sectionOne .sideNav a,
.sectionTwo .sideNav a,
.sectionThree .sideNav a,
.sectionFour .sideNav a,
.sectionFive .sideNav a {
  color: inherit;
  text-decoration: none;
}
.sectionOne .sideNav ul,
.sectionTwo .sideNav ul,
.sectionThree .sideNav ul,
.sectionFour .sideNav ul,
.sectionFive .sideNav ul {
  margin-top: 45vh;
  margin-left: 2vw;
}
.sectionOne .sideNav li,
.sectionTwo .sideNav li,
.sectionThree .sideNav li,
.sectionFour .sideNav li,
.sectionFive .sideNav li {
  margin-bottom: 2vh;
}
.sectionOne .sideNav .hoverable,
.sectionTwo .sideNav .hoverable,
.sectionThree .sideNav .hoverable,
.sectionFour .sideNav .hoverable,
.sectionFive .sideNav .hoverable {
  cursor: default;
  text-decoration: none;
}
.sectionOne .sideNav .hoverable .hover,
.sectionTwo .sideNav .hoverable .hover,
.sectionThree .sideNav .hoverable .hover,
.sectionFour .sideNav .hoverable .hover,
.sectionFive .sideNav .hoverable .hover {
  display: none;
}
.sectionOne .sideNav .hoverable:hover .normal,
.sectionTwo .sideNav .hoverable:hover .normal,
.sectionThree .sideNav .hoverable:hover .normal,
.sectionFour .sideNav .hoverable:hover .normal,
.sectionFive .sideNav .hoverable:hover .normal {
  display: none;
}
.sectionOne .sideNav .hoverable:hover .hover,
.sectionTwo .sideNav .hoverable:hover .hover,
.sectionThree .sideNav .hoverable:hover .hover,
.sectionFour .sideNav .hoverable:hover .hover,
.sectionFive .sideNav .hoverable:hover .hover {
  display: inline;
}
.sectionOne .mainWrapper,
.sectionTwo .mainWrapper,
.sectionThree .mainWrapper,
.sectionFour .mainWrapper,
.sectionFive .mainWrapper {
  display: inline-block;
  vertical-align: top;
  height: 100vh;
  width: 73vw;
  color: #fff;
}
.sectionOne .mainWrapper h1,
.sectionTwo .mainWrapper h1,
.sectionThree .mainWrapper h1,
.sectionFour .mainWrapper h1,
.sectionFive .mainWrapper h1 {
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 4.5vw;
}
.sectionOne .mainWrapper h1 span,
.sectionTwo .mainWrapper h1 span,
.sectionThree .mainWrapper h1 span,
.sectionFour .mainWrapper h1 span,
.sectionFive .mainWrapper h1 span {
  text-decoration: underline;
}
.sectionOne .mainWrapper .button,
.sectionTwo .mainWrapper .button,
.sectionThree .mainWrapper .button,
.sectionFour .mainWrapper .button,
.sectionFive .mainWrapper .button {
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.2vw;
  text-transform: uppercase;
  background: #1B3F45;
  text-align: center;
  border-radius: 2px;
  height: 6vh;
}
.sectionOne .mainWrapper .button a,
.sectionTwo .mainWrapper .button a,
.sectionThree .mainWrapper .button a,
.sectionFour .mainWrapper .button a,
.sectionFive .mainWrapper .button a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 1.8vh;
}
.sectionOne .mainWrapper .button a img,
.sectionTwo .mainWrapper .button a img,
.sectionThree .mainWrapper .button a img,
.sectionFour .mainWrapper .button a img,
.sectionFive .mainWrapper .button a img {
  width: 1.2vw;
  background: #1B3F45;
}
.sectionOne .mainWrapper .mobBottom,
.sectionTwo .mainWrapper .mobBottom,
.sectionThree .mainWrapper .mobBottom,
.sectionFour .mainWrapper .mobBottom,
.sectionFive .mainWrapper .mobBottom {
  display: none;
  width: 100vw;
  margin-left: 0.5vw;
  position: absolute;
  bottom: 0;
}
.sectionOne .mainWrapper .mobBottom .mobBottomWrapper .mobLink,
.sectionTwo .mainWrapper .mobBottom .mobBottomWrapper .mobLink,
.sectionThree .mainWrapper .mobBottom .mobBottomWrapper .mobLink,
.sectionFour .mainWrapper .mobBottom .mobBottomWrapper .mobLink,
.sectionFive .mainWrapper .mobBottom .mobBottomWrapper .mobLink {
  width: 23.5vw;
  display: inline-block;
  margin-right: 0;
}
.sectionOne .mainWrapper .mobBottom .mobBottomWrapper .mobLink img,
.sectionTwo .mainWrapper .mobBottom .mobBottomWrapper .mobLink img,
.sectionThree .mainWrapper .mobBottom .mobBottomWrapper .mobLink img,
.sectionFour .mainWrapper .mobBottom .mobBottomWrapper .mobLink img,
.sectionFive .mainWrapper .mobBottom .mobBottomWrapper .mobLink img {
  border: 1px solid white;
  width: 8vh;
  margin-left: 6.5vw;
  margin-top: 2vh;
  margin-bottom: 1.5vh;
}
.sectionOne .mainWrapper .mobBottom .mobBottomWrapper .mobLink p,
.sectionTwo .mainWrapper .mobBottom .mobBottomWrapper .mobLink p,
.sectionThree .mainWrapper .mobBottom .mobBottomWrapper .mobLink p,
.sectionFour .mainWrapper .mobBottom .mobBottomWrapper .mobLink p,
.sectionFive .mainWrapper .mobBottom .mobBottomWrapper .mobLink p {
  text-transform: uppercase;
  color: #fff;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 3vw;
  text-align: center;
  letter-spacing: 0.3vw;
}
.sectionOne .mainWrapper .mobBottom .mobBottomWrapper .mobLink p a,
.sectionTwo .mainWrapper .mobBottom .mobBottomWrapper .mobLink p a,
.sectionThree .mainWrapper .mobBottom .mobBottomWrapper .mobLink p a,
.sectionFour .mainWrapper .mobBottom .mobBottomWrapper .mobLink p a,
.sectionFive .mainWrapper .mobBottom .mobBottomWrapper .mobLink p a {
  color: inherit;
  text-decoration: none;
}
.sectionOne {
  background: #00bcdd;
}
.sectionOne .sideNav {
  background: #00afd4;
}
.sectionOne .mainWrapper h1 {
  margin-top: 30vh;
  margin-left: 12vw;
}
.sectionOne .mainWrapper h1 span {
  text-decoration: underline;
}
.sectionOne .mainWrapper .contentWrapper {
  display: inline-block;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.1vw;
  margin-left: 16.3vw;
  margin-top: 8vh;
  width: 32vw;
}
.sectionOne .mainWrapper .contentWrapper p {
  margin-bottom: 3vh;
}
.sectionOne .mainWrapper .button {
  display: block;
  width: 15.5vw;
  margin-left: 16.3vw;
  margin-top: 4vh;
}
.sectionOne .mobBottom {
  background: #00afd4;
}
.sectionTwo {
  background: #ffd03e;
}
.sectionTwo .sideNav {
  background: #ffc627;
}
.sectionTwo .mainWrapper h1 {
  margin-top: 22vh;
  margin-left: 12vw;
}
.sectionTwo .mainWrapper p {
  display: inline-block;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.6vw;
  margin-left: 12vw;
  margin-top: 7vh;
}
.sectionTwo .mainWrapper div {
  width: 55vw;
  display: inline-block;
  margin-left: 12vw;
  margin-top: 7vh;
}
.sectionTwo .mainWrapper div img {
  background: #ffc627;
  width: 17vw;
  margin-right: 1vw;
}
.sectionTwo .mainWrapper .button {
  width: 12vw;
  margin-top: 4vh;
  margin-left: 52.5vw;
  padding-left: 2vh;
}
.sectionThree {
  background: #aa7bc9;
}
.sectionThree .sideNav {
  background: #906fb4;
}
.sectionThree .leftContent {
  display: inline-block;
}
.sectionThree .leftContent h1 {
  margin-left: 6vw;
  margin-top: 12vw;
}
.sectionThree .leftContent p {
  display: inline-block;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 0.9vw;
  margin-left: 11vw;
  margin-top: 4vh;
  width: 20vw;
  line-height: 3.2vh;
}
.sectionThree .leftContent .button {
  width: 17.5vw;
  margin-top: 6vh;
  margin-left: 11vw;
}
.sectionThree .rightContent {
  float: right;
  margin-top: 23vh;
  margin-right: 8vw;
}
.sectionThree .rightContent div {
  margin-bottom: 4vh;
}
.sectionThree .rightContent div img {
  width: 5vw;
}
.sectionThree .rightContent div div {
  display: inline-block;
  vertical-align: top;
  margin-top: 1.2vh;
  margin-left: 4vh;
}
.sectionThree .rightContent div div h2 {
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 2.2vw;
}
.sectionThree .rightContent div div p {
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 0.9vw;
}
.sectionFour {
  background: #48c3b1;
}
.sectionFour .sideNav {
  background: #24b9ad;
}
.sectionFour h1 {
  margin-top: 22vh;
  margin-left: 12vw;
}
.sectionFour table {
  display: inline-block;
  margin-top: 4vh;
  margin-left: 12vw;
}
.sectionFour table tr {
  height: 12vh;
}
.sectionFour table tr td {
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.6vw;
  line-height: 4.5vh;
  margin-right: 5vw;
  width: 28vw;
}
.sectionFour .button {
  width: 10vw;
  margin-left: 40.1vw;
  margin-top: 5vh;
}
.sectionFive {
  background: #eb6851;
}
.sectionFive .sideNav {
  background: #e95944;
}
.sectionFive .mainWrapper h1 {
  margin-left: 6vw;
  margin-top: 18vh;
}
.sectionFive .mainWrapper table {
  margin-top: 7vh;
  margin-left: 2vw;
  border-collapse: separate;
  border-spacing: 4vw 0;
}
.sectionFive .mainWrapper table tr td {
  width: 18vw;
}
.sectionFive .mainWrapper table tr td .blogTitle {
  text-transform: uppercase;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.6vw;
}
.sectionFive .mainWrapper table tr td .blogDate {
  margin-top: 3vh;
  font-family: 'akkuratLight', arial, sans-serif;
  font-size: 0.9vw;
}
.sectionFive .mainWrapper table tr td .blogDate .blogSection {
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 0.9vw;
}
.sectionFive .mainWrapper table tr td .blogSnip {
  margin-top: 1.5vw;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 0.9vw;
  line-height: 3vh;
}
.sectionFive .mainWrapper table tr td .button {
  margin-top: 2vw;
  width: 11.5vw;
}
.contact {
  display: table;
  height: 20vh;
  color: #fff;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 1.1vw;
}
.contact .contactDark {
  display: table-cell;
  width: 16.3vw;
  background: #262626;
}
.contact .contactContent {
  display: table-cell;
  width: 84vw;
  background: #333333;
}
.contact .contactContent p {
  margin-right: 3vw;
  margin-left: 15vw;
  display: inline-block;
  margin-top: 9vh;
}
.contact .contactContent .contactButton {
  display: inline-block;
  text-transform: uppercase;
  background: #eb6851;
  padding: 1.5vh 2.5vh;
  border-radius: 2px;
}
.contact .contactContent .contactButton a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
}
.contact .contactContent .contactButton a img {
  width: 1.2vw;
}
footer {
  display: table;
  height: 20vh;
  color: #000;
  font-family: 'akkuratRegular', arial, sans-serif;
  font-size: 0.9vw;
}
footer .footerDark {
  background: #DEDFDF;
  width: 16vw;
  display: table-cell;
  margin-top: 9vh;
}
footer .footerContent {
  display: table-cell;
  background: #E9EAEA;
  width: 84vw;
}
footer .footerContent p {
  margin-top: 5vw;
  margin-left: 17vw;
}
/*# sourceMappingURL=main.css.map */