//CSS RESET//

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#mobile, #tablet {
  display: none;
}

//VARIABLES//
@menu-font-size: 0.9vw;
@side-nav-font-size: 1vw;
@h1-font-size: 5vw;
@h2-font-Size: 3.5vw;
@akRegular: 'akkuratRegular',
arial,
sans-serif;
@akLight: 'akkuratLight',
arial,
sans-serif;
@p1-font-size: 1.15vw;
@p2-font-size: 1.6vw;
@button-font-size: 1.2vw;
@blue-bg: #00BCDD;
@yellow-bg: #FFD03E;
@purple-bg: #AA7BC9;
@green-bg: #60C5BA;
@blue-bg-dark: #00AFD4;
@purple-bg-dark: #906FB4;
@green-bg-dark: #26B8B0;
@white-bg: #fff;
@white-bg-dark: #F2F2F3;
@grey-bg: #F2F2F3;
@grey-bg-dark: #E2E3E4;
@blue-grad-dark: linear-gradient(rgba(0, 175, 212, 1) 60%, rgba(0, 175, 212, 0));
@blue-grad: linear-gradient(rgba(0, 188, 221, 1) 60%, rgba(0, 188, 221, 0));
@green-grad-dark: linear-gradient(rgba(38, 184, 176, 1) 60%, rgba(38, 184, 176, 0));
@green-grad: linear-gradient(rgba(96, 197, 186, 1) 60%, rgba(96, 197, 186, 0));

//FONTS//
@font-face {
  font-family: "akkuratRegular";
  src: url('../fonts/AkkuratRegular.otf') format('opentype');
}

@font-face {
  font-family: "akkuratLight";
  src: url('../fonts/AkkuratLight.otf') format('opentype');
}

.nav-top {
  top: 0;
  font-family: @akRegular;
  width: 100vw;
  height: 20vh;
  display: block;
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  font-size: @menu-font-size;
  z-index: 10;
  .logo-wrap {
    width: 16vw;
    display: inline-block;
    height: 20vh;
    margin: 0;
    float: left;
    .logo {
      margin: 6.5vh 0 0 2vw;
      width: 9vw;
    }
  }
  .logo-wrap-t {
    display: none;
  }
  .menu-wrap {
    width: 68vw;
    display: inline-block;
    height: 20vh;
    margin: 0;
    float: left;
    .ns-text {
      margin-left: 12vw;
      margin-top: 4vh;
      .ns-link {
        color: inherit;
        text-decoration: none;
      }
    }
    .menu-top {
      margin-left: 12vw;
      margin-top: 6vh;
      .menu-top-item {
        display: inline;
        margin-right: 3vw;
        .menu-top-link {
          display: inline;
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
  .soc-wrap {
    width: 16vw;
    display: inline-block;
    height: 20vh;
    margin: 0;
    float: left;
    .soc-menu {
      width: 7vw;
      margin: 3.7vh 0 5vh 0;
      display:flex;
      justify-content:space-between;
      .soc-icons {
        .soc-link img {
          height: 2.2vh;
        }
      }
    }
    .soc-phone {
      margin-left: 0;
    }
  }
}

#dd {
  position: relative;
  width: 200px;
  padding: 10px;
  background: transparent;
  cursor: pointer;
  outline: none;
  color: #fff;
}


#dd .dropdown {
  position: absolute;
  top: 140%;
  left: 0;
  right: 0;
  width: 11.5vw;
  font-weight: normal;
  list-style: none;
  pointer-events: none;
  background: @green-bg-dark;
}

#dd .dropdown li a {
  display: block;
  padding: 2vh;
  text-decoration: none;
  color: #fff;
}


//BACKGROUND COLORS//

.blue-gradient {
  background-image: @blue-grad;
}

.blue-gradient-dark {
  background-image: @blue-grad-dark;
}

.blue {
  background: @blue-bg
}

.blue-dark {
  background: @blue-bg-dark;
}

.underline {
  text-decoration: underline;
}

.white {
  background: @white-bg;
}

.white-dark {
  background: @white-bg-dark;
}

.grey {
  background: @grey-bg;
}

.grey-dark {
  background: @grey-bg-dark;
}

.black {
  background: #333333;
}

.black-dark {
  background: #262626;
}

.green-gradient {
  background: @green-grad;
}

.green-gradient-dark {
  background: @green-grad-dark;
}

.green {
  background: @green-bg;
}

.green-dark {
  background: @green-bg-dark;
}

.br-t {
  display: none;
}

.nav-side-tablet {
  display: none;
}

.nav-bot {
  display: none;
}

.br-m {
  display: none;
}
//NEWSLETTER//
#dNewsletter {
  color: #fff;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  float: left;
  z-index: 100000;
  position: fixed;
  .closeWrap {
    width: 100vw;
    height: 3vh;
    padding-top: 17vh;
    .closeButton {
      margin-left: 77.5vw;
      text-transform: uppercase;
      font-family: @akRegular;
      font-size: 1vw;
      color: #fff;
      text-decoration: none;
    }
  }
  .newsletterLogo {
    width: 6vw;
    height: 6vw;
    display: block;
    text-align: justify;
    margin-left: 45vw;
  }
  .newsletterContent {

    .newsletterTitle {
      margin-left: 38vw;
      text-transform: uppercase;
      font-family: @akRegular;
      font-size: 2.5vw;
      margin-top: 3vh;
      position: absolute;
    }
    .newsletterText {
      position: absolute;
      width: 30vw;
      font-family: @akRegular;
      font-size: 1vw;
      line-height: 3vh;
      margin-left: 15vw;
      margin-top: 15vh;
    }
    .signupForm {
      width: 35vw;
      position: absolute;
      float: left;
      margin-top: 15vh;
      margin-left: 50vw;
      label {
        display: block;
        font-family: @akRegular;
        font-size: 1.2vw;
        margin-bottom: 1vh;
      }
      input {
        display: block;
        width: 30vw;
        margin-bottom: 3vh;
        height: 35px;
      }
      .nsButton {
        display: block;
        position: absolute;
        margin-top: 27vh;
        margin-left: 22.5vw;
        button {
          width: 8vw;
          font-family: @akRegular;
          font-size: 1.2vw;
          color: #fff;
          background: #00BCDD;
          border: 0;
          border-radius: 3px;
          height: 5vh;
        }
      }
    }
  }
}

//SECTIONS//
.sec-1 {
  height: 100vh;
  width: 100vw;
  display: block;
  .sec-1-sidebar {
    height: 100vh;
    width: 16vw;
    display: inline-block;
  }
  .sec-1-bg {
    width: 84vw;
    height: 100vh;
    display: inline-block;
    float: right;
    color: #fff;
    font-family: @akRegular;
    .sec-1-content {
      margin: 35vh 0 0 12vw;
      h1 {
        font-size: @h1-font-size;
        margin-bottom: 6vh;
        width: 45vw;
      }
      .p1 {
        font-size: @p1-font-size;
        margin-bottom: 3vh;
        width: 37vw;
        line-height: 3vh;
      }
    }
  }
}


.sec-2 {
  height: 140vh;
  width: 100vw;
  display: block;
  .sec-2-sidebar {
    height: 140vh;
    width: 16vw;
    display: inline-block;
  }
  .sec-2-bg {
    width: 84vw;
    height: 140vh;
    display: inline-block;
    float: right;
    font: @akRegular;
    .sec-2-content {
      margin-left: 6vw;
      margin-top: 10vh;
      .sec-2-col-a {
        vertical-align: top;
        width: 30vw;
        display: inline-block;
        font-family: @akRegular;
        h2 {
          font-size: @h2-font-Size;
          margin-bottom: 4vh;
          color: @green-bg;
        }
        .p1 {
          font-size: @p1-font-size;
          line-height: 3.2vh;
          margin-bottom: 2vh;
          color: #5C6F86;
        }
      }
      .sec-2-col-b {
        vertical-align: top;
        width: 33vw;
        display: inline-block;
        font-family: @akRegular;
        margin-left: 5vw;
        h2 {
          font-size: @h2-font-Size;
          margin-bottom: 4vh;
          color: @green-bg;
        }
        .p1 {
          font-size: @p1-font-size;
          line-height: 3.2vh;
          margin-bottom: 6vh;
          color: #5C6F86;
        }
        .values {
          .p2 {
            font-size: @p2-font-size;
            color: #5C6F86;
            margin-bottom: 1vh;
          }
          .p1 {
            font-size: @p1-font-size;
          }
        }
      }
    }
  }
}

.sec-2b {
  height: 45vh;
  width: 100vw;
  display: block;
  .sec-2b-sidebar {
    height: 45vh;
    width: 16vw;
    display: inline-block;
  }
  .sec-2b-bg {
    width: 84vw;
    height: 45vh;
    display: inline-block;
    float: right;
    font-family: @akRegular;
    .sec-2b-content {
      margin-left: 6vw;
      margin-top: 10vh;
      width: 70vw;
      h2 {
        font-size: @h2-font-Size;
        margin-bottom: 6vh;
        width: 45vw;
        color: @green-bg;
      }
      .p1 {
        font-size: @p1-font-size;
        margin-bottom: 3vh;
        width: 43vw;
        line-height: 3vh;
        color: #5C6F86;
      }
    }
  }
}

.sec-3, .sec-4 {
  height: auto;
  width: 100vw;
  display: flex;
  .sec-3-sidebar, .sec-4-sidebar {
    height: auto;
    width: 16vw;
    display: flex;
  }
  .sec-3-bg, .sec-4-bg {
    width: 84vw;
    height: auto;
    display: flex;
    float: right;
    font-family: @akRegular;
    .sec-3-content, .sec-4-content {
      margin-left: 6vw;
      margin-top: 10vh;
      width: 70vw;
      h2 {
        font-size: @h2-font-Size;
        margin-bottom: 6vh;
        width: 45vw;
        color: @green-bg;
      }
      .p1 {
        font-size: @p1-font-size;
        margin-bottom: 10vh;
        width: 43vw;
        line-height: 3vh;
        color: #5C6F86;
      }
      .p2 {
        font-size: @p2-font-size;
        margin-bottom: 3vh;
        color: @green-bg;
      }
      .sec-3-member, .sec-4-member {
        margin-top: 3vh;
        width: 17vw;
        display: inline-block;
        img {
          width: 10vw;
          border-radius: 100%;
          display: block;
          margin: 0 auto;
          height: auto;
        }
        .p2 {
          text-transform: uppercase;
          margin-top: 3.5vh;
          text-align: center;
          width: 17vw;
        }
        .p1 {
          text-align: center;
          width: 17vw;
        }
      }
    }
  }
}

.sec-4 {
  height: 100vh;
  .sec-3-sidebar, .sec-4-sidebar {
    height: 100vh;
  }
  .sec-4-bg {
    height: 100vh;
  }
}

.nav-side-green {
  color: @green-bg;
}

.nav-side-white {
  color: @white-bg;
}

.sec-contact {
  height: 14vh;
  width: 100vw;
  display: block;
  .sec-contact-sidebar {
    height: 14vh;
    width: 16vw;
    display: inline-block;
  }
  .sec-contact-bg {
    height: 14vh;
    width: 84vw;
    display: inline-block;
    float: right;
    .sec-contact-content {
      display: inline-block;
      float: left;
      .sec-contact-text {
        width: 47vw;
        color: #fff;
        font-family: @akRegular;
        font-size: 1.1vw;
        margin-left: 12vw;
        margin-top: 5vh;
      }
      .button {
        vertical-align: top;
        display: inline-block;
        float: right;
        background: @green-bg;
        padding: 1vw;
        margin-top: -4.2vh;
        text-decoration: none;
        img {
          background: transparent;
        }
      }
    }
  }
}

.nav-side {
  display: inline-block;
//  color: #FFF;
  font-family: @akRegular;
  font-size: 1vw;
  width: 16vw;
  height: 100vh;
  a {
    color: inherit;
    text-decoration: none;
  }
  ul {
    margin-top: 45vh;
    margin-left: 2vw;
  }
  li {
    margin-bottom: 2vh;
  }
  .hoverable {
    cursor: default;
    text-decoration: none;
  }
  .hoverable .hover {
    display: none;
  }
  .hoverable:hover .normal {
    display: none;
  }
  .hoverable:hover .hover {
    display: inline;
  }
}

footer {
  height: 14vh;
  width: 100vw;
  display: block;
  .footer-sidebar {
    height: 14vh;
    width: 16vw;
    display: inline-block;
  }
  .footer-bg {
    width: 84vw;
    height: 14vh;
    display: inline-block;
    float: right;
    color: #000;
    font-family: @akRegular;
    font-size: 0.9vw;
    .footer-content {
      margin-left: 12vw;
      margin-top: 6vh;
      p {
        display: inline;
        margin-right: 10.7vw;
      }
    }
  }
}

.button {
  font-family: @akRegular;
  font-size: @button-font-size;
  text-transform: uppercase;
  background: #1B3F45;
  text-align: center;
  border-radius: 2px;
  border: none;
  color: #fff;
  padding: 0 1vw;
  img {
    width: 1.2vw;
    background: #1B3F45;
  }
}

.anchor {
  display: block;
  position: relative;
  top: 2vh;
  visibility: hidden;
}