@media only screen and (min-width: 0px)
and (max-width: 767px)
and (orientation: portrait) {

  //VARIABLES//
  @topNavFontSize: 0.9vw;
  @sideNavFontSize: 1vw;
  @headerFontSize: 12vw;
  @h2FontSize: 2.2vw;
  @akRegular: 'akkuratRegular', arial, sans-serif;
  @akLight: 'akkuratLight', arial, sans-serif;
  @p1FontSize: 1.15vw;
  @p2FontSize: 1.8vw;
  @buttonFontSize: 1.2vw;
  @purpleBg: #AA7BC9;
  @purpleBgDark: #906FB4;
  @menu-font-size: 0.9vw;
  @purple-bg-dark: #906FB4;
  @purple-bg: #AA7BC9;

  //FONTS//
  @font-face {
    font-family: "akkuratRegular";
    src: url('../fonts/AkkuratRegular.otf') format('opentype');
  }
  @font-face {
    font-family: "akkuratLight";
    src: url('../fonts/AkkuratLight.otf') format('opentype');
  }

  .tablet {
    display: none;
  }

  #topNav2 {
    margin-top: 100vh;
    background: @purpleBg;
    width: 100vw;
    z-index: 0;
    height: 18vh;
    .logoWrapper, .socialWrapper, .navWrapper {
      height: 18vh;
    }
  }

  .nav-top {
    font-family: @akRegular;
    width: 100vw;
    height: 20vh;
    display: block;
    position: absolute;
    text-transform: uppercase;
    color: #fff;
    font-size: @menu-font-size;
    .logo-wrap {
      width: 50vw;
      display: inline-block;
      height: 20vh;
      margin: 0;
      float: left;
      background-image: none;
      .logo {
        margin: 6vw 0px 0px 4vw;
        width: 30vw;
      }
    }
    .logo-wrap-t {
      display: none;
    }
    .menu-wrap {
      display: none;
    }
    .soc-wrap {
      width: 50vw;
      display: inline-block;
      height: 20vh;
      margin: 0;
      float: left;
      .soc-menu {
        margin-left: 8vw;
        margin-top: 4vw;
        width: 35vw;
        .soc-icons {
          width: 40vw;
          margin-left: 0;
          .soc-link img {
            margin-right: 6vw;
            display: inline-block;
            height: 2.5vh;
          }
        }
        .stretch {
          width: 100%;
          display: inline-block;
          font-size: 0;
          line-height: 0
        }
      }
      .soc-phone {
        margin-left: 6vw;
        margin-top: -3.8vw;
        font-size: 4.2vw;
      }
    }
  }

  .nav-bot {
    display: block;
    width: 100vw;
    height: 14vh;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #fff;
    z-index: 1;
    background: @purple-bg-dark;
    #our-work-menu {
      display: none !important;
    }
    .nav-bot-wrap {
      margin-top: 2vh;
      display: flex;
      justify-content: space-between;
      width: 92vw;
      padding: 0 4vw;
      .tablet {
        display: none;
      }
      .nav-bot-link {
        display: inline-block;
        a {
          img {
            width: 10vw;
          }
        }
        p {
          text-align: center;
          text-transform: uppercase;
          font-family: @akRegular;
          font-size: 3.5vw;
          margin-top: 1vh;
          a {
            color: inherit;
            text-decoration: none;
          }
        }

      }
      .nav-bot-link:nth-child(1) {
        img {
          margin-bottom: 0;
          margin-left: 3vw;
        }
      }
      .nav-bot-link:nth-child(2) {
        img {
          margin-bottom: 0;
          margin-left: 0.8vw;
        }
      }
      .nav-bot-link:nth-child(3) {
        display: none;
        img {
          margin-bottom: 0;
          margin-left: 3vw;
        }
      }
      .nav-bot-link:nth-child(4) {
        display: none;
        img {
          margin-bottom: 0;
          margin-left: 1.2vw;
        }
      }
      .nav-bot-link:nth-child(5) {
        img {
          margin-bottom: 0;
          margin-left: 2.7vw;
        }
      }
      .nav-bot-link:nth-child(6) {
        display: block;
        z-index: 1000;
        img {
          margin-bottom: 0.6vh;
          margin-left: 0.7vw;
        }
        p {
          margin-top: 0;
        }
      }
    }
  }

  .more-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 86vh;
    display: block;
    z-index: 100;
    font-family: @akRegular;
    background: @purple-bg;
    color: #fff;
    .more-close {
      display: block;
      margin-top: 2vh;
      float: right;
      margin-right: 2vh;
      text-transform: uppercase;
    }
    .more-logo {
      display: block;
      width: 30vw;
      margin: 15vh auto 0 auto;
    }
    .more-menu-items {
      display: block;
      margin-top: 10vh;
      .more-menu-item {
        display: block;
        font-size: 5vw;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 5vh;
      }
    }
  }

  .section1 {
    .sideBar {
      display: none;
    }
    .s1Content {
//      border: 1px solid white;
      width: 100vw;
      height: 100vh;
//      margin-left: 0;
      .s1Title {
        font-size: @headerFontSize;
        line-height: 7.5vh;
        width: 75vw;
        margin-left: 6vw;
      }
      .s1Text {
        margin-top: 3vh;
        font-size: 4vw;
        width: 88vw;
        line-height: 3.3vh;
        margin-left: 6vw;
        P {
          margin-bottom: 2vh;
        }
      }
    }
  }

  .section2 {
    height: 340vh;
    .sideBar {
      display: none;
    }
    .s2content {
      .wrapper:nth-child(1) {
        margin-top: 25vh;
      }
      .wrapper {
        width: 89vw;
        margin-top: 8vh;
        margin-left: 6vw;
        .title {
          font-size: 9vw;
          margin-bottom: 0;
          margin-left: 25vw;
          margin-top: 3vh;
          position: absolute;
        }
        img {
          width: 20vw;
          position: absolute;
          margin-top: 0;
          margin-left: 0;
        }
        .contentWrapper {
          font-family: @akRegular;
          color: #000;
          width: 88vw;
          margin-top: 14vh;
          .text {
            font-size: 5vw;
            line-height: 3vh;
            width: 87vw;
            margin-bottom: 3vh;
            color: #5C6E7B;
          }
          .subText {
            width: 87vw;
            font-size: 4vw;
            line-height: 2.5vh;
            color: #5C6E7B;

          }
        }
      }
    }
  }

  .section3 {
    .sideBar {
      display: none;
    }
    .content {
      width: 100vw;
      height: 100vh;
      margin-top: 0vh;
      border: 1px solid transparent;
      .wrapper {
        margin-top: 20vh;
        margin-left: 6vw;
        width: 88vw;
        padding-top: 0;
        .title {
          margin-top: 0;
          font-size: @headerFontSize;
          width: 70vw;
        }
        .text {
          font-size: 4.5vw;
          line-height: 3vh;
          width: 88vw;
          margin-bottom: 2vh;
        }
        .subText {
          font-size: 5.5vw;
        }
        .button {
          margin-top: 3vh;
          font-size: 4.5vw;
          width: 60vw;
          height: 6.5vh;
          a img {
            width: 4.5vw;
          }
        }
      }
    }
  }

  .contact {
    background: #2D2C2B;
    height: 23vh;
    width: 100vw;
    .contactDark {
      display: none;
    }
    .contactContent {
      position: relative;
      p {
        color: #fff;
        font-family: @akRegular;
        padding-top: 2.2vh;
        padding-right: 0vw;
        padding-left: 0vw;
        font-size: 4.8vw;
        line-height: 4vh;
        margin-top: 0;
        margin-left: 6vw;
        width: 88vw;
      }
      .contactButton {
        position: absolute;
        display: block;
        margin-top: 2.5vh;
        background: @purpleBg;
        color: #fff;
        height: 2.5vh;
        font-size: 4.5vw;
        width: 36vw;
        margin-left: 6vw;
        padding: 2vh 2vw 1.5vh 4vw;
        a img {
          background: @purpleBg;
          width: 4.5vw;
        }
      }
    }
  }

  footer {
    background: #E9EAEA;
    width: 100vw;
    padding-top: 2vh;
    height: 21vh;

    .footerDark {
      display: none;
    }
    .footerD {
      display: none;
    }
    p.footerT {
      display: inline-block;
      font-size: 4vw;
      width: 50vw;
      margin-left: 6vw;
      margin-top: 1vw;
      line-height: 3vh;
    }
    p.footerT:nth-child(3) {
//      float: right;
      display: block;
      width: 40vw;
      margin-top: 3.3vh;
    }
  }

  .tSpace {
    width: 100vw;
    height: 9vh;
    display: block;
  }

  #dNewsletter {
    color: #fff;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    float: left;
    z-index: 100000;
    position: fixed;
    .closeWrap {
      width: 100vw;
      height: 3vh;
      padding-top: 2vh;
      .closeButton {
        margin-left: 80vw;
        text-transform: uppercase;
        font-size: 5vw;
        color: #fff;
        text-decoration: none;
      }
    }
    .newsletterLogo {
      width: 24vw;
      height: 24vw;
      display: block;
      text-align: justify;
      margin-left: 39vw;
      margin-top: 3vh;
    }
    .newsletterContent {

      .newsletterTitle {
        margin-left: 17vw;
        text-transform: uppercase;
        font-size: 8vw;
        margin-top: 5vh;
        position: absolute;
      }
      .newsletterText {
        position: abslute;
        width: 90vw;
        font-size: 4vw;
        line-height: 4vh;
        margin-left: 5vw;
        margin-top: 12vh;
        margin-bottom: 5vh;
        p {
          text-align: center;
        }
        .ns-hide {
          display: none;
        }
      }
      .signupForm {
        width: 90vw;
        position: absolute;
        margin-top: 35vh;
        margin-left: 5vw;
        label {
          display: block;
          font-size: 5vw;
          margin-bottom: 1vh;
        }
        input {
          display: block;
          width: 88vw;
          margin-bottom: 2vh;
          height: 35px;
        }
        .nsButton {
          display: block;
          position: absolute;
          margin-top: 27vh;
          margin-left: 0;
          button {
            width: 89vw;
            font-size: 5vw;
            color: #fff;
            background: #00BCDD;
            border: 0;
            border-radius: 3px;
            padding: 0;
            height: 6vh;
          }
        }
      }
    }
  }
}

