@akRegular: 'akkuratRegular',
arial,
sans-serif;
  .nav-bot {
    display: block;
    width: 100vw;
    height: 14vh;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #fff;
    z-index: 1;
    #our-work-menu {
      display: none !important;
    }
    .nav-bot-wrap {
      margin-top: 2vh;
      display: flex;
      justify-content: space-between;
      width: 92vw;
      padding: 0 4vw;
      .tablet {
        display: none;
      }
      .nav-bot-link {
        display: inline-block;
        a {
          img {
            width: 10vw;
          }
        }
        p {
          text-align: center;
          text-transform: uppercase;
          font-family: @akRegular;
          font-size: 3.5vw;
          margin-top: 1vh;
          a {
            color: inherit;
            text-decoration: none;
          }
        }
      }
      .nav-bot-link:nth-child(1) {
        img {
          margin-bottom: 0;
          margin-left: 3vw;
        }
      }
      .nav-bot-link:nth-child(2) {
        img {
          margin-bottom: 0;
          margin-left: 0.8vw;
        }
      }
      .nav-bot-link:nth-child(3) {
        display: none;
        img {
          margin-bottom: 0;
          margin-left: 3vw;
        }
      }
      .nav-bot-link:nth-child(4) {
        display: none;
        img {
          margin-bottom: 0;
          margin-left: 1.2vw;
        }
      }
      .nav-bot-link:nth-child(5) {
        img {
          margin-bottom: 0;
          margin-left: 2.7vw;
        }
      }
      .nav-bot-link:nth-child(6) {
        img {
          margin-bottom: 0.6vh;
          margin-left: 0.7vw;
        }
      }
    }
  }
.nav-top .soc-wrap .soc-menu li.soc-icons{
	width: 40vw;
	margin-right: 1.9vw;
	margin-left: 0;
	display: inline;
}
.nav-top .soc-wrap .soc-menu li.soc-icons a.soc-link img{
	height: auto;
}
.single-casestudy .sec-2 .sec-2-content-wrap .sec-2-img{
	width: 100%;
	left: 0;
	bottom: -190vh;
}
.single-casestudy .sec-2 .sec-2-content-wrap .sec-2-img img{
	width: 100%;
}
#slick{
	width: 50vw;
	margin: 0 auto;
}
.page-template-template-blog .sec-2 .sec-2-side{width: 0;}
.page-template-template-blog .sec-2 .sec-2-content-wrap{width: 100vw;}
.page-template-template-blog .sec-2 .sec-2-content-wrap .sec-2-content .blog-item{
	margin-left: 4vw;
    margin-right: 4vw;
    width: 41vw;
    vertical-align: top;
}
.page-template-template-blog .sec-2 .sec-2-content-wrap .sec-2-content .blog-item .blogTitle,
.page-template-template-blog .sec-2 .sec-2-content-wrap .sec-2-content .blog-item .blogSnip{
	width: 100%;
}
.page-template-template-case-studies .case-study-anchor{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
}
.page-template-template-case-studies .section2 {
    height: auto;
}
.page-template-template-about-us .sec-2
	height: auto;
}
.page-template-template-about-us .sec-2 .sec-2-bg{
	height: auto;
	display: flex;
}
.page-template-template-about-us .sec-3, .page-template-template-about-us .sec-4 {
    height: auto;
}
.page-template-template-about-us .sec-3 .sec-3-bg,
.page-template-template-about-us .sec-4 .sec-3-bg,
.page-template-template-about-us .sec-3 .sec-4-bg,
.page-template-template-about-us .sec-4 .sec-4-bg{
	height: auto;
}

.single-post .sec-2 .sec-2-side{
	display: block;
	padding-bottom: 0;
	width: 100%;
}
.single-post .social-list{
    width: 100%;
    text-align: left;
    margin-bottom: 2vh;
    margin-left: 9vh;
    margin-top: 2vh;
}
.single-post .social-list p{
	display: inline-block;
    font-size: 2.5vw;
    line-height: 3vh;
    vertical-align: middle;
}
nav.nav-bot .nav-bot-wrap{
	height: 14vh;
	margin-top: 0;
}
.nav-bot .nav-bot-wrap .nav-bot-link{
	height: 14vh;
	padding-top: 2vh;
	box-sizing: border-box;
    padding-left: 2vw;
    padding-right: 2vw;
}
.page-template-template-contact .nav-bot .nav-bot-wrap .nav-bot-link.active-bot{
	background: #00A8CD;
}
.page-template-template-services .nav-bot .nav-bot-wrap .nav-bot-link.active-bot{
	background: #AA7BC9;
}
.page-template-template-about-us .nav-bot .nav-bot-wrap .nav-bot-link.active-bot{
	background: #60C5BA;
}
.page-template-template-blog .nav-bot .nav-bot-wrap .nav-bot-link.active-bot{
	background: #EB6852;
}
.page-template-template-case-studies .nav-bot .nav-bot-wrap .nav-bot-link#ow-link{
	background: #FFD24F;
}
.page-template-template-work .nav-bot .nav-bot-wrap .nav-bot-link#ow-link{
	background: #00A8CD;
}
.page-template-template-work .sec-2 button{
	background: #e8e8e8;
}
.page-template-template-work .slick-arrow{
	background: url('../img/categories-arrows.png') no-repeat!important;
	font-size: 0;
    height: 24px;
    margin-top: -12px !important;
    position: absolute;
    top: 50% !important;
    width: 24px !important;
}
.page-template-template-work .slick-prev::before,
.page-template-template-work .slick-next::before{
	display: none;
}
.page-template-template-work .slick-prev{
	background-position: top left!important;
	margin-left: 4vw!important;
}
.page-template-template-work .slick-next{
	background-position: top right!important;
	margin-right: 4vw!important;
}
.page-template-template-work .sec-2 .controls{
	background: #e8e8e8;
	padding-left: 2vw;
	padding-right: 2vw;
}
.page-template-template-work .sec-2 .controls{
	height: 8.9vw;
}
.single-post .sec-2 {
	height: auto;
}
.single-post .sec-2 .sec-2-content-wrap{
	height: auto;
}